
html {
	background-colorx: rgba(0, 0, 0, .8);
	border-top: 9px solid rgba(0%, 20%, 40%, .9); }
	
body {
	font-size: 62.5%;
	line-height: 1.5;
	font-family: Georgia, serif;
	border-top: 1px solid rgba(0%, 20%, 40%, 1);  }

h1, h2, h3, dt, cite {
	color: rgba(0, 0, 0, .8);
	font-weight: normal;
	margin: 2em 0 1em;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, arial, sans-serif; }

h1 {
	font-size: 5em; }

h2 {
	font-size: 2.4em; }

h3 {
	font-size: 1.8em;
	font-weight: bold; }

p, ol, ul, dd {
	font-size: 1.6em;
	margin: 0 0 1.5em; }

p {
	text-indent: 1em; }

ol {
	margin-left: 1em;
	list-style-type: decimal; }

ul {
	list-style-type: disc; }

hgroup {
	display: block; }
	
hgroup aside {
	margin: 0 4em 0 -320px;
	float: left;
	text-align: right;
	display: block;
	padding: 0 40px 0 0;
	width: 240px;
	border-right: 1px solid rgba(0, 0, 0, .1); }

article, header, footer section {
	display: block;
	clear: both;
	width: 640px;
	padding: 0 0 0 320px;
	margin: 0 auto; }

article {
	border-top: 1px solid rgba(0, 0, 0, .1); }

figure {
	clear: both;
	margin: 0 2em 3em -320px;
	float: left;
	display: block;
	padding: 5px;
	background-color: rgba(0, 0, 0, .8); }

figure p {
	color: #FFFFFF;
	font-size: 1.4em;
	margin: .5em;
	text-indent: 0; }

.figure-group {
	float: left;
	display: block;
	width: 940px;
	padding: 0 1em;
	margin: 0 0 3em -320px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-width: 1px 0; }
	
.figure-group figure {
	clear: none;
	margin: 2em 1em;
	display: inline; }
	
dt {
	font-size: 1.8em;
	margin: 1em 0 0; }

dd {
	margin: 0 0 .5em; }

a:link {
	color: rgba(0%, 40%, 80%, .9); }

a:visited {
	color: rgba(0%, 20%, 40%, .6); }

a:hover {
	color: rgba(0%, 20%, 40%, .9);
	background-color: rgba(0%, 40%, 80%, .05); }

a:active {
	background-color: rgba(0%, 40%, 80%, .1); }

abbr {
	border-bottom: 1px dotted rgba(0, 0, 0, .8); }

blockquote {
	margin: 2em 0; }

blockquote p {
	text-indent: 0;
	font-size: 2.4em; }

blockquote cite {
	display: block;
	margin: -1.5em 0 .5em;
	font-size: 1.6em;
	font-style: normal; }
	
header {
	background: transparent url(cb-logox.png) 40px 20px no-repeat; }
	
header hgroup {
	padding: 5em 0 0 0; }

header h1 {
	font-family: "droid-serif-1","droid-serif-2", Georgia, serif;
	float: left;
	text-transform: lowercase;
	margin: 0 0 0 -160px;
	font-size: 6em; }

header hgroup section {
	float: left;
	padding-left: 2em;
	margin: 2.5em 0 0 2em;
	border-left: 1px solid rgba(0, 0, 0, .1); }

header h2 {
	margin: 0;
	font-size: 1.6em; }

nav {
	display: block;
	clear: both; }
	
nav ul {
	list-style-type: none; }

nav li {
	padding: 1em 1em 1em 0;
	display: inline; }

nav li a {
	font-size: 1.2em; }
	

footer {
	display: block; }

footer p {
	text-indent: 0; }
	
footer section {
	border-top: 1px solid rgba(0, 0, 0, .1); }

footer #summary, footer #colophon {
	padding: 0;
	width: 960px; }

footer aside {
	float: left;
	display: block;
	padding: 0 40px;
	margin-bottom: 2em;
	border-left: 1px solid rgba(0, 0, 0, .1); }

footer aside:first-child {
	width: 240px;
	padding-left: 0;
	border-width: 0; }

footer #colophon ul {
	clear: both;
	margin: 1em 0; }

footer #colophon aside:first-child {
	text-align: right; }

footer #colophon li {
	padding: .5em 0 .5em 1em;
	display: inline; }
	
footer #colophon li:first-child {
	padding-left: 0; }
	



#tweet aside {
	margin-top: 2em; }
	
#tweet aside h2 {
	margin: 0 0 .35em; }

.clear {
	clear: both; }

.hide {
	display: none; }
		