	<aside>
		<dl>
			<dt>Timeframe</dt>
			<dd>September 2010</dd>
			<dt>Tools</dt>
			<dd><a href="http://www.apple.com/iwork/keynote/">Apple iWork Keynote</a></dd>
			<dd><a href="http://www.ambrosiasw.com/utilities/snapzprox/">Snapz Pro X</a></dd>
			<dt>Download</dt>
			<dd><a href="/assets/files/KeynoteSLAM.zip">Keynote SLAM</a> (Keynote 08)</li></dd>
		</dl>
	</aside>
	
	<h2>{{{summary}}}</h2>
	
	<figure>
		<iframe src="http://player.vimeo.com/video/15416486?title=0&amp;byline=0&amp;portrait=0&amp;color=a2b9f7" width="640" height="360" frameborder="0"></iframe>
	</figure>
	
	<h3>Concept</h3>
	<p>Encouraged by <a href="http://www.lukew.com/ff/entry.asp?1155">arguments for</a> and <a href="http://blog.amirkhella.com/2010/07/13/teaser-iphone-running-an-interactive-prototype-built-with-keynote/">resources</a> regarding rapid prototyping with Apple Keynote, I wanted to design a small project utilizing the program's hyperlink and animation features &mdash; both of which I have little exposure. Inspired by the <a href="http://www.amazon.com/Parker-Brothers-05890-Scrabble-Cards/dp/B001FVPS0K">Scrabble SLAM card game</a>, the design imagines how a digital equivalent could be experienced. In the original game, a deck of bi-lettered cards are distributed to 2&ndash;4 players, and a four-letter word using part of the deck is placed in the center of the player circle. Players deposit one card at a time as quickly as possible on top of the central four letters. Each deposit much spell a dictionary word (i.e. similar to Scrabble rules), and the first player to empty their hand wins.</p> 

	<h3>Process</h3> 
	<p>To simplify to the minimal interaction of a digital version of the game, one player with three cards remaining (i.e. letters F, I and P) clicks the card to place it on the central word, SLAM. Limiting the player cards severely reduces the permutations and focuses on the interaction of choosing a playable or unplayable card. For this particular situation, the only way to win is by ending on the word FLIP, and there's no dictionary words for placing F on SLIM or I on FLAM.</p> 
	<p>The photographed background is placed on a master slide, while the rest of the elements are created natively within Keynote. Setting the presentation mode to Hyperlinks Only disables auto-forwarding slides when clicking the screen. Clicking the Restart button jumps to the first slide, while clicking on player cards jumps to the appropriate slide. Clicking an unplayable card horizontally shakes it and suggests it can't be used, similar to an invalid login attempt on Apple OSX.</p> 
	<p>While originally wanting to record the 26-second demonstration of the prototype through Keynote's native recording features, the hyperlink feature seemed to prevent a non-erroneous export, uprooting an unresolved bug with the software. However, recording with <a href="http://www.ambrosiasw.com/utilities/snapzprox/">Snapz Pro X</a> worked flawlessly.</p> 

	<h3>Reflection</h3> 
	<p>If staying true to the original game rules, future iterations of this prototype could experiment with permitting flipping the card to real secondary, playable letters. Since Keynote provides a flipping animation, this variation could translate without much effort. Because I never utilized Keynote hyperlinks and I emphasized aesthetics, the prototype demanded approximately 3-hours to build. However, the idea could have been communicated just as easily by investing less time on craftsmanship. </p> 
