	<h1>{{title}}</h1>

{{#project}}{{/project}}

	<nav>
		<ul>
			<li>&nbsp;{{#prev}}<a href="/lab/{{slug}}" title="{{title}}">&#171;Previous</a>{{/prev}}</li>
			<li>{{#next}}<a href="/lab/{{slug}}" title="{{title}}">Next&#187;</a>{{/next}}&nbsp;</li>
		</ul>
	</nav>