	<h1>{{title}}</h1>

{{#project}}{{/project}}

	<nav>
		<ul>
			<li class="prev">&nbsp;{{#prev}}<a href="/lab/{{slug}}" title="{{title}}">&#171;Previous</a>{{/prev}}</li>
			<li class="next">{{#next}}<a href="/lab/{{slug}}" title="{{title}}">Next&#187;</a>{{/next}}&nbsp;</li>
			<li class="all"><a href="/lab">All lab experiments&#187;</a></li>
		</ul>
	</nav>