	<aside>
		<dl>
			<dt>Tools</dt>
			<dd>Vellum paper</dd>
			<dd><a href="http://www.dickblick.com/products/faber-castell-pitt-artist-pens/">Faber-Castell brush pens</a></dd>
			<dd><a href="http://www.dickblick.com/products/prismacolor-verithin-pencils/">Prismacolor Verithin pencils</a></dd>
			<dt>Timeframe</dt>
			<dd>September 2010</dd>
		</dl>
	</aside>
	
	<h2>{{{summary}}}</h2>
	
	<figure>
		<a href="http://www.flickr.com/photos/chrisbasham/5018570214/" title="IMG_1141 by chrisbasham, on Flickr"><img src="/assets/i/pencil-sharpener-sketch-640.jpg" width="640" height="320" alt="IMG_1141" /></a>
	</figure>
	
	<h3>Techniques</h3>
	<figure class="caption aside">
		<a href="http://www.flickr.com/photos/chrisbasham/5018568962/" title="IMG_1077 by chrisbasham, on Flickr"><img src="http://farm5.static.flickr.com/4110/5018568962_10fbcb25d9.jpg" width="300" height="225" alt="IMG_1077" /></a>
		<p><strong>1</strong> An early experiment mixed Prismacolor markers on Vellum paper.</p>
	</figure>
	<p>Before rendering a product using industrial design methods, I experimented with a variety of sketching techniques among various mediums. Sketching simple boxes, I practiced applying three-tones (highlight, mid-tone and shade) and shadows using either <a href="http://www.dickblick.com/products/prismacolor-premier-double-ended-art-markers/">Prismacolor markers</a> and <a href="http://www.dickblick.com/products/faber-castell-pitt-artist-pens/">Faber-Castell brush pens</a> on either translucent Vellum or laser printer paper.<sup>1</sup> Surprisingly, Vellum surpassed printer paper in most regards. Vellum is smoother and less porous, enabling cleaner strokes; and less absorbent, causing less saturation, bleeding and exaggerated colors. Though Prismacolor markers tend to blend well for smooth gradients, Faber-Castell brushes dry faster, causing less potential for smearing during quick coloring.</p>

	<h3>Process</h3>
	<p>As a continuation and escalated challenge, I sought to draw a product with rectangular features and increased details. Due primarily to immediacy and portability than any meaningful significance, I isometrically posed a dual pencil sharpener for rendering. Sketching on Vellum, an indigo blue <a href="http://www.dickblick.com/products/prismacolor-verithin-pencils/">Prismacolor Verithin pencil</a> outlined the box of the object and guidelines systematically positioned within the box maintained proportions of the object's features.<sup>2</sup></p>
	<p>Using the pencil sketch as an underlay guide, a second film of Vellum laid over it for the final render. Though not maintaining the original guides on the same layer produces a cleaner rendering and enables repositioning within the paper, it also disregards a secondary form of aesthetic expression endued by the mixed mediums. (As this rendering was an initial attempt at separating layers for experimental and demonstration purposes, it wasn't a significant factor.) Sequentially applying Faber-Castell warm grays I, III and IV along the three sides of sharpener slowly built the illustration from the lower sketch.<sup>3</sup></p>
		<p>A black Verithin pencil contrasted edges and a white gel pen highlighted subtle details. Coloring the metallic blade blue emphasized the feature against the monotoned object, while a complementary orange separated the background from the foreground.<sup>4</sup></p>
	<section class="figure-group three">
		<figure class="caption">
			<a href="http://www.flickr.com/photos/chrisbasham/5018569258/" title="IMG_1127 by chrisbasham, on Flickr"><img src="http://farm5.static.flickr.com/4150/5018569258_9547395733.jpg" width="300" height="225" alt="IMG_1127" /></a>
			<p><strong>2</strong> An indigo blue Verithin pencil outlined the pencil sharpener as an underlay sketch.</p>
		</figure> 
		<figure class="caption">
			<a href="http://www.flickr.com/photos/chrisbasham/5017964969/" title="IMG_1129 by chrisbasham, on Flickr"><img src="http://farm5.static.flickr.com/4131/5017964969_9eaeb9a9dd.jpg" width="300" height="225" alt="IMG_1129" /></a>
			<p><strong>3</strong> The first two applications of warm grayed applied to the highlight and mid-tone surfaces.</p>
		</figure>
		<figure class="caption">
			<a href="http://www.flickr.com/photos/chrisbasham/5018569764/" title="IMG_1138 by chrisbasham, on Flickr"><img src="http://farm5.static.flickr.com/4126/5018569764_9acdc767ea.jpg" width="300" height="225" alt="IMG_1138" /></a>
			<p><strong>4</strong> The final render after contrasting edges and highlighting details.</p>
		</figure>
	</section>

	<h3>Reflection</h3>
	<p>Though extraordinarily satisfied by the craftsmanship of the rendering, the pencil sharpener was very labor intensive, costing approximately 3-hours of work across multiple sessions. While the object was proportionally accurate, the perspective is subtly disconcerting due to not establishing horizon lines and vanishing points. Additional practice is needed for projecting circular shapes along skewed surfaces. Future techniques to explore include practicing marker application to minimize ink pooling, smooth gradients and selectively introduce whitespace; and casting shadows to appropriately match natural lighting conditions along non-rectangular objects.</p>
