	<aside>
		<dl>
			<dt>Timeframe</dt>
			<dd>September 2010</dd>
			<dt>Materials</dt>
			<dd>Cloth</dd>
			<dd>Dowel rods</dd>
			<dd>Florist foam</dd>
			<dd>Hemp rope</dd>
			<dd>Pipe cleaner</dd>
			<dd>Spray paint</dd>
			<dt>Acknowledgments</dt>
			<dd>Photos by <a href="http://johnwaynehill.com" rel="friend met colleague">John Wayne Hill</a></dd>
		</dl>
	</aside>
	
	<h2>{{{summary}}}</h2>
	
	<figure>
		<a href="http://www.flickr.com/photos/chrisbasham/4992260300/" title="foam-pirate-boat-2 by chrisbasham, on Flickr"><img src="/assets/i/pirate-boat-640.jpg" width="640" height="320" alt="Foam pirate boat" /></a>
	</figure>
	
	<h3>Concept</h3>
	<p>Upon choosing a concept to be prototyped with foam, the initial step involved mind mapping to determine if the artifact would be practical, artistic, a replica or representative of the material's inherit properties.<sup>1</sup> Inspired by the buoyancy of foam and prior work designing a <a href="http://vimeo.com/11462990">museum exhibit</a> showcasing 17th Century navigational sailing techniques, a characterized pirate boat seemed enjoyable and thematically appropriate. Upon referencing online imagery and scale models featured at local retailers, a series of sketches guided the prototype design.<sup>2</sup></p> 
	<section class="figure-group two">
		<figure class="caption">
			<a href="http://www.flickr.com/photos/chrisbasham/4990226304/" title="IMG_1068 by chrisbasham, on Flickr"><img src="http://farm5.static.flickr.com/4154/4990226304_5a44b2ac2c.jpg" width="300" height="200" alt="IMG_1068" /></a>
			<p><strong>1</strong> Brainstorming via mind map.</p>
		</figure>
		<figure class="caption">
			<a href="http://www.flickr.com/photos/chrisbasham/4990225788/" title="IMG_1069 by chrisbasham, on Flickr"><img src="http://farm5.static.flickr.com/4130/4990225788_cdfa93af4e.jpg" width="300" height="200" alt="IMG_1069" /></a>
			<p><strong>2</strong> Initial sketch of the pirate boat.</p>
		</figure>
	</section>
	
	<h3>Process</h3>
	<p>Initially determined to construct the boat hull from layered rigid polyurethane, the material was rejected since, as early tests conducted by <a href="http://www.prototyping.johnwaynehill.com/author/elipton/">Evan Lipton</a> and <a href="http://www.prototyping.johnwaynehill.com/author/johnwaynehill/">John Wayne Hill</a> determined, florist foam, sold in blocks rather than sheets, was substantially easier to shape. While originally desiring a larger scale, the approximately 8"x4"x3" foam constrained the boat's dimensions to eliminate the need to glue multiple bricks. Additionally, integrating multiple materials into the prototype's design would be challenging and aesthetically appealing.</p> 
<p>Sketched paper templates outlined the foam brick's orthogonal sides as a guide for trimming with a hot-wire cutter.<sup>3</sup> The boat hull was smoothed with 150-grade sandpaper while the deck was crafted with various Dremel attachments.<sup>4</sup> Hand rubbing the surface carefully polished the delicate foam.</p>
	<section class="figure-group two">
		<figure class="caption">
			<a href="http://www.flickr.com/photos/chrisbasham/4981451070/" title="IMG_1018 by chrisbasham, on Flickr"><img src="http://farm5.static.flickr.com/4151/4981451070_42f90636ab.jpg" width="300" height="200" alt="IMG_1018" /></a>
			<p><strong>3</strong> A wire cutter slices the boat form.</p>
		</figure> 
		<figure class="caption">
			<a href="http://www.flickr.com/photos/chrisbasham/4980843779/" title="IMG_1021 by chrisbasham, on Flickr"><img src="http://farm5.static.flickr.com/4132/4980843779_5b6f45c4f1.jpg" width="300" height="200" alt="IMG_1021" /></a>
			<p><strong>4</strong> Paper templates act as guidelines for Dremel cuts.</p>
		</figure>
	</section>
	<p>The crumbly nature of the florist foam demanded some form of protective shell to encourage handing the prototype. Following three layers of both white primer and nutmeg-colored aerosol, the foam retained its form and no longer crumbles. Roughly sanding a single layer of nutmeg on 5/16" dow mast pieces created a weathered texture; and rolling the candle-stick holder cannons and cannonballs in a black-sprayed cup created a grimy, greasy texture.</p>
	<figure class="caption aside">
		<a href="http://www.flickr.com/photos/chrisbasham/4991653513/" title="foam-pirate-boat-14 by chrisbasham, on Flickr"><img src="http://farm5.static.flickr.com/4153/4991653513_ebe2418fbf.jpg" width="300" height="448" alt="foam-pirate-boat-14" /></a>
		<p><strong>5</strong> Repositioning a rope to the mast's lower eyelet-screw raises the sail.</p>
	</figure>
	<p>Assisted by <a href="http://www.danielrichert.com/">Dan Richert's</a> boating and rigging expertise, eyelet screws guided hemp rope and rope knotted black sails with masts.<sup>5</sup> Tacky glue adhered six cannons to their shallow, inset holes. Partially de-fuzzed yellow pipe cleaners dually simulated black-powder flash and mounted cannonball projectiles. A blue, shaped plastic cup suspended the boat as waves in the ocean.</p>
	
	<h3>Reflection</h3> 
	<p>Encouraged by the details carved along the boat deck and the availability of appropriate secondary materials, the vessel quickly ballooned into a 15-hour art project, rather than a prototype effectively represented with minimal fidelity. If designing under time constraints, simpler methods utilizing glued string and marked papers rather than painted wooden shapes could reduce construction time. Though satisfied with the final design of the boat, sketches only suggested a single blueprint; fantasizing additional variations could have produced a more interesting product. Though not liking the fuzzy residue of crumbly florist foam, it certainly is a material with promise due its ease of use. Future experimentation could explore shaping non-pitted textures with or over the foam.</p> 
	<p>Later modifications to the prototype may add an anchor, steering wheel, plank, storage barrels and bowsprit. A fine-brush could paint illuminated windows along the captain's quarter, the Jolly Roger on the sails and the barnacle-coated wooden skin of the hull. Weights could be implanted to properly lower and balance the boat while floating.</p> 
