
<% extends 'views/base.erb' %>

<% block :content do %>

	<h1>404 &mdash; Page not found</h1>
	<h2>Oh, crap. If I don't find this page stat, you're going to leave, and my <a href="http://en.wikipedia.org/wiki/Bounce_rate">bounce rate</a> will soar like <a href="http://en.wikipedia.org/wiki/The_Rocketeer_(film)">The Rocketeer</a>! (Great movie, <abbr title="by the way">BTW</abbr>.)</h2>

<% end %>
