	<nav>
		<ul>
			<li>&nbsp;<% if @prev != nil then %><a href="/portfolio/<%= @prev[:slug] %>" title="<%= @prev[:title] %>">&#171;Previous</a><% end %></li>
			<li><% if @next != nil then %><a href="/portfolio/<%= @next[:slug] %>" title="<%= @next[:title] %>">Next&#187;</a><% end %>&nbsp;</li>
		</ul>
	</nav>