
<% extends 'views/base.erb' %>

<%

r = ['a', 'b', 'c']
bodyClass = [ r[rand(r.size)] ]

%>

<% block :content do %>

	<hgroup>
		<h1>About</h1>
		<h2>Chris Basham is a <abbr title="User Experience">UX</abbr> designer and web developer pursuing a masters in <a href="http://hcid.informatics.indiana.edu"><abbr title="Human-Computer Interaction Design">HCI/d</abbr></a> at <a href="http://www.iub.edu">Indiana University Bloomington</a>. He is currently seeking an <abbr title="User Experience">UX</abbr> internship for summer 2010.</h2>
	</hgroup>

	<section>

		<h3>From developer to designer</h3>
		<p>Ten years ago I read <a href="http://www.intuitive.com/">Dave Taylor's</a> <a href="http://www.amazon.com/exec/obidos/ASIN/0764532014/"><cite>Creating Cool HTML 4 Web Pages</cite></a>, and since then I knew my career would reside in the Internet. In 2001 the former <a href="http://en.wikipedia.org/wiki/Techtv">TechTV</a> flagship show <a href="http://en.wikipedia.org/wiki/The_Screen_Savers"><em>The Screen Savers</em></a> introduced me to Photoshop authority <a href="http://www.bertmonroy.com/">Bert Monroy</a>; his five-minute tutorial awakened me to the true potential of graphic illustration and photo manipulation. Soon afterward a study on ActionScript 2.0 Flash programming coincidentally jump-started my understanding of JavaScript. The following year, I built a <a href="http://www.redhat.com/">Red Hat Linux 9</a> server (which to a novice required a hefty <a title="Red Hat Linux 9 Bible" href="http://www.amazon.com/exec/obidos/ASIN/0764539388">manual</a>) and started to dabble with server-side web technologies.</p>
		<p>Before graduating with a degree in <a href="http://newmedia.iupui.edu/">New Media</a> at <a href="http://www.iupui.edu/"><abbr title="Indiana University-Purdue University of Indianapolis">IUPUI</abbr></a> in May 2009, I possessed little desire to pursue higher education. With a strong computer science back&shy;ground and a designer's eye, my potential in this field was limitless. However, late in undergraduate studies, I realized I didn't want my career to solely be defined or constrained by my medium of choice &mdash; the Internet. My skills could supersede the artificial barriers of the web browser and venture into new application domains.</p>
		<p>Fellow student and colleague <a href="http://tonydewan.com" rel="friend met colleague">Tony Dewan</a> felt similarly, so we focused our senior capstone project as a collaborative exploration into physical computing. This three-semester journey found us developing a hardware and software <a href="/portfolio/ping-platform">gaming platform</a>; constructing the hardware for a multitouch display; and culminated in designing an <a href="/portfolio/waterwall">interactive art installation</a>. Concurrently, such an exploration also influenced my work interning at IUPUI's <a href="http://vis.iu.edu/">Pervasive Technology Labs</a>. Working with <a href="http://informatics.iupui.edu/people/baker" rel="friend met colleague">Dr. Polly Baker</a>, we developed a library of ActionScript 3 motion, color, and symbol tracking algorithms used in a number of in-house lab experiments.</p>
		<p>This investigation into physical computing was personal proof I could thrive in foreign application domains. In March 2009, I was accepted into <a href="http://www.iub.edu/">Indiana University Bloomington's</a> <a href="http://hcid.informatics.indiana.edu/">Human-Computer Interaction Design</a> masters program, not fully knowing what to expect. Early into this challenging program, I'm learning how to work in small teams, design for user needs, and regard the user over technology.</p>
		<p>Besides designing and coding, I love God and the Church, playing <a href="http://www.nintendo.com/wii">Wii</a>, watching <a title="Hulu" href="http://www.hulu.com/">TV</a>, quoting <a title="Netflix" href="http://www.netflix.com/">movies</a>, reading <a title="Batman: Year One" href="http://www.amazon.com/exec/obidos/ASIN/1401207529">classic</a> <a title="Batman: The Dark Knight Returns" href="http://www.amazon.com/exec/obidos/ASIN/1563893428">graphic</a> <a title="Batman: The Long Halloween" href="http://www.amazon.com/exec/obidos/ASIN/1563894696">novels</a>, listening to <a href="http://www.audible.com">audiobooks</a>, constructing <a href="https://twitter.com/chrisbasham/status/6103865096">paper craft</a>, devouring <a href="https://twitter.com/chrisbasham/status/2517388291">blueberry muffins</a>, running <a href="http://www.vibramfivefingers.com">barefoot</a>, and relaxing with a game of <a href="http://en.wikipedia.org/wiki/Disc_golf">Disc golf</a>, <a href="http://en.wikipedia.org/wiki/Ultimate_frisbee">Ultimate Frisbee</a>, or <a href="http://en.wikipedia.org/wiki/The_Settlers_of_Catan"><cite>The Settlers of Catan</cite></a>.</p>
		
		<h3>About the website</h3>
		<p>To discover how I designed and developed this website, read the <a href="/colophon">Colophon</a>. You may find sources of inspiration along the way, including recommended software, services, books, and other websites.</p>

	</section>

<% end %>
