
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>About</h1>
		<aside>
		</aside>
		<h2>My name is Chris Basham. I'm a web developer and designer with the passion and knowledge to create the extraordinary. Though my <a href="/about/">journey</a> has only begun, let me <a href="/">share</a> with you what I've learned along the way.</h2>
	</hgroup>

	<section>

		<h3>About Me</h3>
		<p>I'm currently a senior studying <a href="http://newmedia.iupui.edu/">New Media</a> and <a href="http://www.cs.iupui.edu/">Computer Science</a> at <a href="http://www.iupui.edu/"><abbr title="Indiana University-Purdue University of Indianapolis">IUPUI</abbr></a>. Over eight years ago I read <a href="http://www.intuitive.com/">Dave Taylor's</a> <a href="http://www.amazon.com/exec/obidos/ASIN/076453484X/"><em>Creating Cool HTML 4 Web Pages</em></a> (actually the <a href="http://www.amazon.com/exec/obidos/ASIN/0764532014/">first edition</a>), and since then I knew my career would reside in the Internet.</p>
		<p>In 2001, I flipped the channel to the former <a href="http://en.wikipedia.org/wiki/Techtv">TechTV</a> flagship show <a href="http://en.wikipedia.org/wiki/The_Screen_Savers"><em>The Screen Savers</em></a>, introducing me to Photoshop authority <a href="http://www.bertmonroy.com/">Bert Monroy</a>; his five minute tutorial awakened me to the true potential of graphic illustration and photo manipulation. Soon afterward I rented and read a 1000-page book on ActionScript 2.0 Flash programming from the local library, which coincidentally jump-started my understanding of JavaScript. The following year, I built a <a href="http://www.redhat.com/">Red Hat Linux 9</a> server (which to a novice required a hefty <a title="Red Hat Linux 9 Bible" href="http://www.amazon.com/exec/obidos/ASIN/0764539388">manual</a>) from spare parts and started to dabble with server-side web technologies.</p>
		<p>Paralleling my early 2008 internship at Indianapolis design and web firm <a href="http://www.abeautifulquestion.com/">A Beautiful Question</a>, I burnt through the <a href="http://www.amazon.com/exec/obidos/ASIN/0596526954"><em>ActionScript 3.0 Cookbook</em></a> and found a new life in the <a href="http://en.wikipedia.org/wiki/Model-view-controller"><abbr title="Model View Controller">MVC</abbr></a> micro-architecture <a href="http://labs.adobe.com/wiki/index.php/Cairngorm">Cairngorm</a> building <a href="http://en.wikipedia.org/wiki/Adobe_Flex">Flex</a> and <a href="http://en.wikipedia.org/wiki/Adobe_Air"><abbr title="Adobe Integrated Runtime">AIR</abbr></a> applications.</p>
		<p>As of September 2008, I'll be interning in the <a href="http://vis.iu.edu/">Pervasive Technology Labs</a> at IUPUI, learning from the wonderful <a href="http://informatics.iupui.edu/people/baker">Dr. Polly Baker</a>. I'll work with ActionScript 3, exploring how well the language can process and analyze video. Stay tuned.</p>
		<p>On the non-coding side of things, I love playing <a href="http://www.nintendo.com/wii">Wii</a>, watching <a title="Hulu" href="http://www.hulu.com/">TV</a>, quoting <a title="Netflix" href="http://www.netflix.com/">movies</a>, reading <a title="Batman: Year One" href="http://www.amazon.com/exec/obidos/ASIN/1401207529">classic</a> <a title="Batman: The Dark Knight Returns" href="http://www.amazon.com/exec/obidos/ASIN/1563893428">graphic</a> <a title="Batman: The Long Halloween" href="http://www.amazon.com/exec/obidos/ASIN/1563894696">novels</a>, devouring <a href="http://www.bettycrocker.com/recipes/recipe.aspx?recipeID=37729">blueberry muffins</a>, joining random <a href="http://en.wikipedia.org/wiki/Ultimate_frisbee">Ultimate Frisbee</a> games, and relaxing with a session of <a href="http://en.wikipedia.org/wiki/Disc_golf">Disc golf</a>.</p>

		<h3>About the Site</h3>
		<p>This site is developed as my home-base, where I can share my <a href="/">work</a> and <a href="/">thoughts</a> with the world. The site is hosted by <a href="http://www.dreamhost.com/">Dreamhost</a> and powered by <a href="http://wordpress.org/">WordPress</a>, with the theme hand-built with <a href="http://www.barebones.com/products/textwrangler/">TextWrangler</a>.</p>

	</section>

<% end %>
