
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>Colophon</h1>
		<aside>
			<h3>Contact</h3>
			<dl>
				<dt><span>Email</span></dt>
				<dd><span><a href="#">chris@bash.am</a></span></dd>
				<dt><span>Phone</span></dt>
				<dd><span>812 459 9891</span></dd>
				<dt><span>Location</span></dt>
				<dd><span><a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=Indianapolis,+IN&amp;ie=UTF8&amp;z=11&amp;iwloc=addr">Indianapolis, Indiana</a></span></dd>
			</dl>
		</aside>
		<h2>My name is Chris Basham. I'm a web developer and designer with the passion and knowledge to create the extraordinary. Though my <a href="/about/">journey</a> has only begun, let me <a href="/">share</a> with you what I've learned along the way.</h2>
	</hgroup>

	<section>

		<h3>About Me</h3>
		<p>I'm currently a senior studying <a href="http://newmedia.iupui.edu/">New Media</a> and <a href="http://www.cs.iupui.edu/">Computer Science</a> at <a href="http://www.iupui.edu/"><abbr title="Indiana University-Purdue University of Indianapolis">IUPUI</abbr></a>. Over eight years ago I read <a href="http://www.intuitive.com/">Dave Taylor's</a> <a href="http://www.amazon.com/exec/obidos/ASIN/076453484X/"><em>Creating Cool HTML 4 Web Pages</em></a> (actually the <a href="http://www.amazon.com/exec/obidos/ASIN/0764532014/">first edition</a>), and since then I knew my career would reside in the Internet.</p>

	</section>

<% end %>
