
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>Colophon</h1>
		<h2>The story of a new portfolio: How I developed this site while abandoning XHTML 4.0 and <a href="http://wordpress.org/">WordPress</a> for HTML 5 and <a href="http://www.sinatrarb.com/">Sinatra</a>.</h2>
	</hgroup>

	<section>
		
		<h3>Process</h3>
		<p>Reviewing hundreds of bookmarked inspirational <a href="http://delicious.com/cbasham/portfolio">portfolio sites</a>, I sketched and scrutinized dozens of page layouts; and analyzed information architectural patterns, such as content organization and page labeling. Reflecting and evaluating the <a href="http://chris.bash.am">previous version</a> of the site in consideration of these insights, I determined to rectify quite a few lingering issues for this latest iteration:</p>
		<ul>
			<li><strong>HTML 5:</strong> The site forgoes XHTML 4.0 Transitional for current web standards, introducing <a href="http://www.w3schools.com/html5/html5_reference.asp">new markup tags</a>, lighter CSS identifiers, and <a href="http://typekit.com">hosted typefaces</a>.</li>
			<li><strong>Microformats:</strong> The site includes <a href="http://microformats.org/">Microformats</a> wherever possible, including <a href="http://microformats.org/wiki/hresume">hResume</a> for the <a href="/resume">Resume</a>; <a href="http://microformats.org/wiki/hcard">hCard</a> for Contact; and <a href="http://microformats.org/wiki/xfn"><abbr title="XHTML Friends Network">XFN</abbr></a> for bookmarks and links.</li>
			<li><strong>Ruby:</strong> Departing from my PHP roots, I explore developing in a stronger, more versatile server-side and desktop <abbr title="Object-oriented programming">OOP</abbr> language.</li>
			<li><strong>Lite:</strong> Though <a href="http://wordpress.org/">WordPress</a> is fantastic for its intended blogging purpose, as a developer it feels like convoluted bloatware. Desiring a small, micro-framework like PHP's <a href="http://codeigniter.com/">CodeIgniter</a>, <a href="http://www.sinatrarb.com/">Sinatra</a> is a no-brainer.</li>
			<li><strong>Customizable:</strong> Based on recent trends of <a href="http://www.smashingmagazine.com/the-death-of-the-blog-post/">customizing individual pages</a>, the layout is flexible enough to support future creative design needs.</li>
			<li><strong>Rebrand:</strong> Rejecting the longer (yet more identifiable) <a href="http://chris.bash.am">http://chris.bash.am</a> address, the site is rebranded under a more succinct <a href="http://bash.am">http://bash.am</a>.</li>
		</ul>

		<h3>Special thanks</h3>
		<p>I thank fantastic designer, photographer, and friend <a href="http://johnwaynehill.com" rel="friend colleague met">John Wayne Hill</a> for arranging and developing photo shoots for fellow HCI/d students, allowing us to fulfill our semester-long dream of becoming designers "slash" models. You can admire his handiwork on the <a href="/about">About</a> page.</p>
		
		<h3>Services &amp; software</h3>
		<ul class="col3">
			<li><a href="http://matt.west.co.tt/ruby/djerb/">Djerb</a><br/><span class="amp">for</span> ruby templates.</li>
			<li><a href="http://dreamhost.com">Dreamhost</a><br/><span class="amp">for</span> hosting.</li>
			<li><a href="http://www.favicon.cc">favicon.cc</a><br/><span class="amp">for</span> iconography.</li>
		</ul>
		<ul class="col3">
			<li><a href="http://git-scm.com">Git</a><br/><span class="amp">for</span> version control.</li>
			<li><a href="http://h2vx.com">h2vx</a><br/><span class="amp">for</span> vCard exporting.</li>
			<li><a href="http://microformats.org">Microformats</a><br/><span class="amp">for</span> semantics.</li>
		</ul>
		<ul class="col3">
			<li><a href="http://www.sinatrarb.com">Sinatra</a><br/><span class="amp">for</span> ruby framework.</li>
			<li><a href="http://macromates.com">TextMate</a><br/><span class="amp">for</span> text editing.</li>
			<li><a href="http://typekit.com">Typekit</a><br/><span class="amp">for</span> <a href="http://typekit.com/colophons/oim8zsd">typefaces</a>.</li>
		</ul>
		<div class="clear"></div>
		
		<h3>Book references</h3>
		<ul>
			<li><a href="http://www.amazon.com/Designing-Web-Standards-Jeffrey-Zeldman/dp/0321616952"><cite>Designing with Web Standards, Third Edition</cite></a> by <a href="http://www.zeldman.com">Jeffery Zeldman</a></li>
			<li><a href="http://www.amazon.com/Microformats-Made-Simple-Emily-Lewis/dp/0321660773"><cite>Microformats Made Simple</cite></a> by <a href="http://www.ablognotlimited.com">Emily Lewis</a></li>
		</ul>
		
		<h3>Inspirational websites</h3>
		<ul>
			<li><a href="http://brainsideout.com" rel="friend colleague met">Dane Petersen</a></li>
			<li><a href="http://informationarchitects.jp" rel="muse">Information Architects (<abbr title="Information Architects">iA</abbr>)</a></li>
			<li><a href="http://jasonsantamaria.com" rel="muse">Jason Santa Maria</a></li>
			<li><a href="http://sushiandrobots.com" rel="muse">Sushi &amp; Robots</a></li>
			<li><a href="http://trentwalton.com" rel="muse">Trent Walton</a></li>
		</ul>
		
		<h3>Past website versions</h3>
		<ul>
			<li><a href="http://bash.am">Version 3: <em>Ruby</em></a>, 2010 - present</li
			<li><a href="http://chris.bash.am">Version 2: <em>Wordy</em></a>, 2008 - 2009</li>
			<li><a href="http://v1.chris.bash.am">Version 1: <em>Flashy</em></a>, 2007 - 2008</li>
		</ul>
		
	</section>

<% end %>
