
<% extends 'views/base.erb' %>

<% block :scripts do %>

	<script type="text/javascript" src="/assets/js/jquery.jtwitter.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.twitterize.js"></script>
	<script type="text/javascript">
	
		$(document).ready(function(){
			$.jTwitter('chrisbasham', 1, function(data) {
				
				var el = '#latestTweet ';
				var t = $.twitterize(data)[0];
				var user = t.user;
				
				$(el + 'aside').append(
					'<p>' +
					'<a style="float:right; margin: 0 0 0 2em" href="' + user.profile_url + '" rel="me">' + 
						'<img src="' + user.profile_image_url + '"/></a>' +
					'<a href="' + user.profile_url + '" rel="me">Follow me</a><br/>on Twitter.' +
					'</p>');
					
				$(el + 'blockquote p').html(t.html);
				
				$(el + 'blockquote').append(
					'<cite>' +
					'by @<a href="' + user.profile_url + '" rel="me">' + user.screen_name + '</a> ' +
					'<a href="' + t.status_url + '">' + t.time_ago + '</a>' +
					'</cite>');
			});
		});
		
	</script>
		
<% end %>

<% block :content do %>

	<h1>Featured project</h1>

<%= partial :portfolio_item, :locals => { :item => @featuredItem } %>
	
</article>

<article>
	
	<section id="latestTweet" class="feature">
		<aside>
			<h2>Latest tweet</h2>
		</aside>
		<blockquote>
			<p></p>
		</blockquote>
	</section>

	<p id="log"></p>

<% end %>