
<% extends 'views/base.erb' %>

<% block :scripts do %>

	<script type="text/javascript" src="/assets/js/jquery.jtwitter.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.twitterize.js"></script>
	<script type="text/javascript">
	
		$(document).ready(function(){
			/*
			$.jTwitter('chrisbasham', 1, function(data) {
				
				var el = '#latestTweet ';
				var t = $.twitterize(data)[0];
				var user = t.user;
				
				$(el + 'aside').append(
					'<p>' +
					'<figure class="right"><a href="' + user.profile_url + '" rel="me">' + 
						'<img src="' + user.profile_image_url + '"/></a></figure>' +
					'<a href="' + user.profile_url + '" rel="me">Follow me</a><br/>on Twitter.' +
					'</p>');
					
				$(el + 'blockquote p').html(t.html);
				
				$(el + 'blockquote').append(
					'<cite>' +
					'by @<a href="' + user.profile_url + '" rel="me">' + user.screen_name + '</a> ' +
					'<a href="' + t.status_url + '">' + t.time_ago + '</a>' +
					'</cite>');
			});
			*/
		});
		
	</script>
		
<% end %>

<% block :content do %>

	<aside class="hide" style="margin-top: 6em"><p style="">Replaced 2003 Ford Escape rear windshield wipers for first time since 2003. No more half-hearted squeegeeing. Appraising with mud-balloons.</p></aside>
<%= partial :about_abstract %>

	<blockquote class="hide" style="padding-left: 4em"><p style="font-size: 1.6em"><figure><a href="http://twitter.com/chrisbasham" rel="me"><img src="http://a3.twimg.com/profile_images/645492609/ChrisProfile_normal.jpg"></a></figure>Replaced 2003 Ford Escape rear windshield wipers for first time since 2003. No more half-hearted squeegeeing. Appraising with mud-balloons.</p></blockquote>

</article>

<article>

	<h1 class="hide">Featured project</h1>

<%= partial :portfolio_item, :locals => { :item => @featuredItem } %>
	
	
	<section id="latestTweet" class="feature hide">
		<aside>
			<h2>Latest tweet</h2>
		</aside>
		<blockquote>
			<p></p>
		</blockquote>
	</section>

<% end %>