
<% extends 'views/base.erb' %>

<% block :content do %>

	<section id="tweet">
		<hgroup>
			<aside>
				<h2>Latest tweet</h2>
				<p><a href="http://twitter.com/chrisbasham" rel="me">Follow me</a> on Twitter.</p>
			</aside>
		</hgroup>
		<blockquote>
			<p>Oh, Prince of tortuous, sleepless morns (@nickbasham), why release hounds (Charlie) mins prior to rooster crow, upon thy slumbering servant?</p>
			<cite>from <a href="http://twitter.com/chrisbasham" rel="me">@chrisbasham</a> <a href="https://twitter.com/chrisbasham/status/7001626688">about 8 hours ago</a></cite>
		</blockquote>
	</section>

<% end %>
