
<% extends 'views/base.erb' %>

<% block :content do %>

	<section class="feature">
		<aside>
			<h2><a href="/portfolio/waterwall">Waterwall</a></h2>
			<p>Interactive art installation</p>
		</aside>
		<figure>
			<a href="/portfolio"><img src="/assets/i/waterwall-bg.png" width="640" height="200"></a>
			<p>January - May 2009 | <a href="/portfolio/waterwall">More&#187;</a> | <a href="http://waterwall.org">http://waterwall.org</a></p>
		</figure>
	</section>

	<section class="feature">
		<aside>
			<h2><a href="/portfolio/waterwall">Daybreak</a></h2>
			<dl>
				<dt>Timeframe</dt>
				<dd>December 2007</dd>
			</dl>
		</aside>
		<figure>
			<a href="/portfolio"><img src="/assets/i/daybreak-bg.jpg" width="640" height="200"></a>
			<p><a href="http://daybreak.bash.am">Daybreak</a> is a collaborative design experiment with <a href="http://www.tonydewan.com/">Tony Dewan</a> as a submission to the <a href="http://www.csszengarden.com/">CSS Zen Garden</a> project. Tony produced the graphics and aesthetic of the piece, while I coded the CSS and solved technical roadblocks.</p>
		</figure>
	</section>

</article>

<article>

	<section class="feature">
		<aside>
			<h2>Latest tweet</h2>
			<p><a href="http://twitter.com/chrisbasham" rel="me">Follow me</a> on Twitter.</p>
		</aside>
		<blockquote>
			<p>Oh, Prince of tortuous, sleepless morns (@nickbasham), why release hounds (Charlie) mins prior to rooster crow, upon thy slumbering servant?</p>
			<cite>from <a href="http://twitter.com/chrisbasham" rel="me">@chrisbasham</a> <a href="https://twitter.com/chrisbasham/status/7001626688">about 8 hours ago</a></cite>
		</blockquote>
	</section>

<% end %>
