
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>Portfolio</h1>
		<h2>Here are some cool things I did at some time.</h2>
	</hgroup>
	
	<section>
		<ul>
		<% @portfolio.each do |item| %>
			<li><a href="/portfolio/<%= slug item[:title] %>"><%= item[:title] %></a></li>
		<% end %>
		</ul>
	</section>

<% end %>
