
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>Portfolio</h1>
		<h2>Here are some cool things I did at some time.</h2>
	</hgroup>

	<% @portfolio.each do |item| %>	
		<%= partial :item, :locals => { :item => item } %>
	<% end %>

<% end %>
