
<% extends 'views/base.erb' %>

<% block :content do %>

<%= partial :linear_nav, :locals => { } %>

	<hgroup>
		<h1><%= @item[:title] %></h1>
		<aside><% block :brief do %><% end %>		</aside>
		<h2><%= @item[:summary] %></h2>
	</hgroup>
<% block :copy do %><% end %>
<%= partial :linear_nav, :locals => { } %>

<% end %>
