
<% extends 'views/base.erb' %>

<%
headProfile = [:hresume, :hcalendar]
bodyClass = ['hresume']
%>

<% block :content do %>

	<hgroup>
		<h1>Resume</h1>
		<aside>
			<h3>Download</h3>
			<p><a href="#">Resume (PDF)</a>, <abbr title="First quarter">Q1</abbr> 2010</p>

			<h3>Skills</h3>
			<dl>
				<dt>Design methods</dt>
				<dd>Affinity diagramming</dd>
				<dd>Brainstorming</dd>
				<dd>Card sorting</dd>
				<dd>Concept generation</dd>
				<dd>Contextual inquiry</dd>
				<dd>Cultural probes</dd>
				<dd>Ethnographic observation</dd>
				<dd>Information architecture</dd>
				<dd>Interviewing</dd>
				<dd>Paper prototyping</dd>
				<dd>Personas &amp; scenarios</dd>
				<dd>Prototyping</dd>
				<dd>Site mapping</dd>
				<dd>Sketching</dd>
				<dd>Usability testing</dd>
				<dd>Wireframing</dd>
				<dd>Project management</dd>
				<dd>Copywriting</dd>
				<dd>Working in small teams</dd>
				<dt>Languages</dt>
				<dd><a href="http://en.wikipedia.org/wiki/ActionScript" class="skill" rel="tag">ActionScript 3</a>, <a href="http://en.wikipedia.org/wiki/Javascript" class="skill" rel="tag">JavaScript</a>, <a href="http://www.php.net/" class="skill" rel="tag"><abbr title="PHP: Hypertext Preprocessor">PHP</abbr></a>, <a href="http://www.ruby-lang.org" class="skill" rel="tag">Ruby</a>, <a href="http://www.mysql.com/" class="skill" rel="tag">MySQL</a>, <a href="http://en.wikipedia.org/wiki/Xhtml" class="skill" rel="tag"><abbr title="Extensible Hypertext Markup Language">XHTML</abbr></a>, <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets" class="skill" rel="tag"><abbr title="Cascading Style Sheets">CSS</abbr></a></dd>
				<dt>Technologies</dt>
				<dd><a href="http://en.wikipedia.org/wiki/Ajax_%28programming%29" class="skill" rel="tag"><abbr title="Asynchronous JavaScript and XML">Ajax</abbr></a>, <a href="http://en.wikipedia.org/wiki/Adobe_Flex" class="skill" rel="tag">Flex</a>, <a href="http://en.wikipedia.org/wiki/Adobe_Air"><abbr title="Adobe Integrated Runtime" class="skill" rel="tag">AIR</abbr></a></dd>
				<dt>Software</dt>
				<dd><a href="http://www.adobe.com/products/photoshop/" class="skill" rel="tag">Adobe Photoshop</a>, <a href="http://www.adobe.com/products/illustrator/" class="skill" rel="tag">Adobe Illustrator</a>, <a href="http://www.adobe.com/products/flash/" class="skill" rel="tag">Adobe Flash</a>, Omnigraffle, Git, SVN</dd>
			</dl>
		</aside>
		<h2 class="summary">Seeking an internship in <abbr title="User Experience">UX</abbr> design for summer 2010.</h2>
	</hgroup>

	<section>

		<h3>Relevant experience</h3>
		<dl class="experience vevent">
			<dt class="summary">Multimedia Developer Intern, <abbr title="2008-09-01" class="dtstart">September 2008</abbr> - <abbr title="2009-05-01" class="dtend">May 2009</abbr></dt>
			<dd class="location"><a href="http://vis.iu.edu">Pervasive Technology Labs</a>, <a href="http://www.iupui.edu"><abbr title="Indiana University-Purdue University Indianapolis">IUPUI</abbr></a>, Indianapolis, IN</dd>
			<dd class="description">Researched and developed motion, color, and symbol tracking algorithms to explore the limits of video processing and analysis in the ActionScript 3 programming language.</dd>
		</dl>
		<dl class="experience vevent">
			<dt class="summary">Web Developer Intern, <abbr title="2008-01-01" class="dtstart">January 2008</abbr> - <abbr title="2008-05-01" class="dtend">May 2008</abbr></dt>
			<dd class="location"><a href="http://www.abeautifulquestion.com">A Beautiful Question</a>, Indianapolis, IN</dd>
			<dd class="description">Collaborated with out-of-state clients to create a WordPress blog theme and Adobe AIR-based web applications.</dd>
		</dl>
		<dl class="experience vevent">
			<dt class="summary">Web Developer Volunteer, <abbr title="2007-01-01" class="dtstart">January 2007</abbr> - <abbr title="2009-05-01" class="dtend">May 2009</abbr></dt>
			<dd class="location"><a href="http://www.lakeviewchurch.org">Lakeview Church</a>, Indianapolis, IN</dd>
			<dd class="description">
				<ul>
					<li>Converted church website to a WordPress content management system.</li>
					<li>Developed custom WordPress themes and Flash Podcast player.</li>
					<li>Assisted with various network administration activities.</li>
				</ul>
			</dd>
		</dl>
		
		<h3>Education</h3>
		<dl class="education vevent">
			<dt class="summary"><abbr title="Masters of Science">M.S.</abbr> in <a href="http://hcid.informatics.indiana.edu/">Human-Computer Interaction Design</a>, Expected <abbr class="dtend" title="2011-05-01">May 2011</abbr></dt>
			<dd class="location"><a href="http://www.iub.edu">Indiana University</a>, <a href="http://informatics.indiana.edu">School of Informatics</a>, Bloomington, IN</dd>
		</dl>
		<dl class="education vevent">
			<dt class="summary"><abbr title="Bachelor of Science">B.S.</abbr> in <a href="http://informatics.iupui.edu/media/">Media Arts &amp; Sciences (New Media)</a>, <abbr class="dtend" title="2009-05-01">May 2009</abbr></dt>
			<dd class="location"><a href="http://www.iupui.edu">Indiana University (<abbr title="Indiana University-Purdue University Indianapolis">IUPUI</abbr>)</a>, <a href="http://informatics.iupui.edu">School of Informatics</a>, Indianapolis, IN</dd>
			<dd><abbr title="With Highest Honors">Summa Cum Laude</abbr>, General Honors, <abbr title="Grade Point Average">GPA</abbr> 3.95/4.0, Deans List</dd>
		</dl>
		<dl class="education vevent">
			<dt class="summary">Minor in <a href="http://www.cs.iupui.edu">Computer &amp; Information Science</a>, <abbr class="dtend" title="2009-05-01">May 2009</abbr></dt>
			<dd class="location"><a href="http://www.iupui.edu">Purdue University (<abbr title="Indiana University-Purdue University Indianapolis">IUPUI</abbr>)</a>, <a href="http://www.science.iupui.edu">School of Science</a>, Indianapolis, IN</dd>
		</dl>

		<h3>Other experience</h3>
		<dl class="experience vevent">
			<dt class="summary">Lifeguard, <abbr title="2006-10-01" class="dtstart">October 2006</abbr> - <abbr title="2007-12-01" class="dtend">December 2007</abbr></dt>
			<dd class="location"><a href="http://www.iunat.iupui.edu"><abbr title="Indiana University">IU</abbr> Natatorium</a>, Indianapolis, IN</dd>
		</dl>
		<dl class="experience vevent">
			<dt class="summary">Head lifeguard, <abbr title="2002-07-01" class="dtstart">July 2002</abbr> - <abbr title="2007-09-01" class="dtend">September 2007</abbr></dt>
			<dd class="location"><a href="http://www.vanderburghgov.org/Index.aspx?page=74">Burdette Park Aquatic Center</a>, Evansville, IN</dd>
		</dl>
		
	</section>

<% end %>
