
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>Resume</h1>
		<aside>
			<h3>Download</h3>
			<p><a href="#">Resume (PDF)</a>, <abbr title="First quarter">Q1</abbr> 2010</p>

			<h3>Skills</h3>
			<dl>
				<dt>Methods</dt>
				<dd>Affinity diagramming</dd>
				<dd>Brainstorming</dd>
				<dd>Card sorting</dd>
				<dd>Concept generation</dd>
				<dd>Contextual inquiry</dd>
				<dd>Cultural probes</dd>
				<dd>Ethnographic observation</dd>
				<dd>Information architecture</dd>
				<dd>Interviewing</dd>
				<dd>Paper prototyping</dd>
				<dd>Personas &amp; scenarios</dd>
				<dd>Prototyping</dd>
				<dd>Site mapping</dd>
				<dd>Sketching</dd>
				<dd>Usability testing</dd>
				<dd>Wireframing</dd>
				<dd>Project management</dd>
				<dd>Copywriting</dd>
				<dd>Working in small teams</dd>
				<dt><span>Languages</span></dt>
				<dd><span><a href="http://en.wikipedia.org/wiki/ActionScript">ActionScript 3</a>, <a href="http://en.wikipedia.org/wiki/Javascript">JavaScript</a>, <a href="http://www.php.net/"><abbr title="PHP: Hypertext Preprocessor">PHP</abbr></a>, <a href="http://www.ruby-lang.org">Ruby</a>, <a href="http://www.mysql.com/">MySQL</a>, <a href="http://en.wikipedia.org/wiki/Xhtml"><abbr title="Extensible Hypertext Markup Language">XHTML</abbr></a>, <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets"><abbr title="Cascading Style Sheets">CSS</abbr></a></span></dd>
				<dt><span>Technologies</span></dt>
				<dd><span><a href="http://en.wikipedia.org/wiki/Ajax_%28programming%29"><abbr title="Asynchronous JavaScript and XML">Ajax</abbr></a>, <a href="http://en.wikipedia.org/wiki/Adobe_Flex">Flex</a>, <a href="http://en.wikipedia.org/wiki/Adobe_Air"><abbr title="Adobe Integrated Runtime">AIR</abbr></a></span></dd> <dt><span>Software</span></dt> <dd><span><a href="http://www.adobe.com/products/photoshop/">Adobe Photoshop</a>, <a href="http://www.adobe.com/products/illustrator/">Adobe Illustrator</a>, <a href="http://www.adobe.com/products/flash/">Adobe Flash</a></span>, Omnigraffle, Git, SVN</dd>
			</dl>
		</aside>
		<h2>Seeking an internship in <abbr title="User Experience">UX</abbr> design for summer 2010.</h2>
	</hgroup>

	<section>

		<h3>Relevant experience</h3>

		<h3>Education</h3>
		<dl>
			<dt>Indiana University, School of Informatics, Bloomington, IN</dt>
			<dd>Masters in Human-Computer Interaction Design, Expected May 2011</dd>
			<dt>Indiana University (IUPUI), School of Informatics, Indianapolis, IN</dt>
			<dd>Bachelor of Science in Media Arts &amp; Sciences, General Honors, May 2009</dd>
			<dd>Deans List, GPA 3.95/4.0, With Highest Distinction</dd>
			<dt>Purdue University (IUPUI), School of Science, Indianapolis, IN</dt>
			<dd>Minor in Computer &amp; Information Science, May 2009</dd>
		</dl>

		<h3>Other experience</h3>

	</section>

<% end %>
