	<aside>
		<dl>
			<dt>Role</dt>
			<dd>CSS development</dd>
			<dt>Team</dt>
			<dd><a href="http://tonydewan.com" rel="friend met colleague">Tony Dewan</a></dd>
			<dt>Timeframe</dt>
			<dd>December 2007</dd>
			<dt>Visit</dt>
			<dd><a href="http://daybreak.bash.am">http://daybreak.bash.am</a></dd>
		</dl>
		<figure class="caption">
			<a href="/assets/i/daybreak-01-800.jpg"><img src="/assets/i/daybreak-01-300.jpg" alt="Full page screenshot" /></a>
			<p>As the page scrolls toward the bottom of the screen, the sun dawns revealing additional navigation.</p>
		</figure>
		<figure class="caption">
			<a href="/assets/i/daybreak-02-800.jpg"><img src="/assets/i/daybreak-02-300.jpg" alt="Alternative graphics and CSS for IE6" /></a>
			<p>Graphics and CSS gracefully degrade for Internet Explorer 6.</p>
		</figure>
	</aside>
	
	<h2>{{{summary}}}</h2>
	
	<h3>Concept</h3>
	<p>After reviewing the CSS Zen Garden's <a href="http://www.mezzoblue.com/zengarden/alldesigns/">official designs</a>, we quickly discovered a trend in the submissions: They were chosen due to <a title="Dazzling Beauty by Deny Sri Supriyono" href="http://www.csszengarden.com/?cssfile=195/195.css">design aesthetics</a> or <a title="Retro Theater by Eric Rogé" href="http://www.csszengarden.com/?cssfile=202/202.css">technical complexity</a>. For our experiment, we didn't want to force ourselves into either category, so we spent considerable time on both  strategies.</p>
	<p>Early in the conceptual stage, we wanted to tell a story as the user interacts with the design while scrolling the page. Since it is a relatable experience, the transition from night to day would provide a compelling narrative and strong visual elements. The moon and sun respectively establish the night and day; and a sky assists the transition between the two. In order to ground the world against the scrolling moon, sun and sky, a blooming tree serves as a natural, strong and enduring visual anchor.</p>

	<h3>Technical roadblocks</h3>
	<p>To technically achieve a smooth transition from the spectrum of cool to warm colors while overlaying a visually complex tree element, the tree would need to be created as a 24-bit PNG image. (24-bit includes an alpha channel, rather than merely a "transparent" pixel, like 8-bit PNG and GIF.) Since this image type is not compatible with all older browsers and JavaScript is not permitted for this submission, transparent GIF versions were provided for graceful degradation.</p>
	<p>As another roadblock, Internet Explorer 6 cannot fix elements to the bottom of the viewport via CSS. Alternatively, we produced a different but aesthetically similar visual anchor and affixed it to the top of the page. This new image places the user <em>underneath</em> the tree, seeming as if selected branches hang low in the top of the user's peripheral vision.</p>
	
