	<aside>
		<dl>
			<dt>Role</dt>
			<dd>Research, sketching, ideation, prototyping, user testing, storyboarding</dd>
			<dt>Team</dt>
			<dd><a href="http://www.eugenesiew.com" rel="friend met colleague">Eugene Siew</a>, Yue Pan</dd>
			<dt>Timeframe</dt>
			<dd>March &ndash; May 2010</dd>
		</dl>	
	</aside>
	
	<h2>{{{summary}}}</h2>
	
	<figure style="clear:none">
		<object width="640" height="360">
			<param name="allowfullscreen" value="true" />
			<param name="allowscriptaccess" value="always" />
			<param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11462990&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=a2b9f7&amp;fullscreen=1" />
			<embed src="http://vimeo.com/moogaloop.swf?clip_id=11462990&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=3278e0&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="640" height="360"></embed>
		</object>
	</figure>
	
	<h3>Concept</h3>
	<p>Tasked with designing an experience prototype in seven weeks, we started by visiting a number of museums, including <a href="http://www.childrensmuseum.org">The Children's Museum of Indianapolis</a>, to determine qualities engaging exhibits demonstrate. Synthesizing our observations, the core of our design would need to be immersive, enjoyable and educational, tied together through role-play. To design for universal accessibility, we researched, prototyped and experienced various disabilities, attempting to determine how such hinderances affect both personal and social activities.</p>
	<p>After brainstorming dozens of exhibit themes, we desired to impart participants with the culture, lifestyle and expertise of pirates, specifically emphasizing the relevant and practical skill of sea navigation. Focusing on the 17th Century, a common navigational method is <a href="http://en.wikipedia.org/wiki/Dead_reckoning">dead reckoning</a>, i.e. estimating current position based on the movements from another position. A navigator needs to determine orientation and distance traveled.</p>
	
	<h3>First prototype</h3>
	<p>As a three-clue, linear treasure hunt, the first prototype tested both single and collaborative participants' ability to master the dead reckoning technique without the aid of tools; <a href="http://en.wikipedia.org/wiki/Polaris"><abbr title="North star">Polaris</abbr></a> guided position while pacing steps estimated distance. However, based on feedback and observation, both methods would need to rely on tools to increase both historical and navigational accuracy.</p>
	<p>Considering the equipment available to pirates sailing during the <a href="http://en.wikipedia.org/wiki/Golden_Age_of_Piracy">Golden Age of Piracy</a>, a magnetic <a href="http://en.wikipedia.org/wiki/Compass">compass</a> could orient participants without solely depending on landmarks or celestial bodies; and a knotted rope (inspired by a <a href="http://en.wikipedia.org/wiki/Chip_log">chip log</a>) could consistently measure distance. Additionally, relocating the exhibit to a large, unfamiliar and outdoor space while providing the option to choose the next treasure to hunt would highly enrich exploration.</p>
	
	<h3>Second prototype</h3>
	<p>Striving to test the second prototype in a variety of contexts, pairs and a group of four participants teamed to discover hidden treasures highly valued by derelict sailors trying to thrive on the open seas. Teams hunted both in the day and nighttime to find citrus fruit to ward <a href="http://en.wikipedia.org/wiki/Scurvy">scurvy</a>, soap to thwart infection, <a href="http://en.wikipedia.org/wiki/Cutlass">cutlass</a> to defend loot, chocolate <a href="http://en.wikipedia.org/wiki/Doubloon">doubloons</a> to reward labor and a map to reveal all <a href="http://en.wikipedia.org/wiki/Treasure">booty</a>. Feedback encouraged expanding the scale and difficulty of the hunt, improving initial training of the navigational tools and introducing mini-puzzles to be solved before revealing clues.</p>
	
