
html {
	border-color: rgba(218, 75, 59, .8); }
	
body {
	text-shadow: rgba(100%, 100%, 100%, .8) 0 1px 0;
	border-color: rgba(218, 75, 59, .9);
	background: rgb(174, 207, 233) url(/assets/i/waterwall-bg.png) repeat-x 50% -250px; }

a:link, a:visited {
	color: rgba(218, 75, 59, .9); }

a:hover, header a:hover {
	color: rgba(164, 50, 44, .9); }
	
a:hover, a:active {
	background-color: rgba(218, 75, 59, .1); }
	