/*

25% BLUE DARK
rgba(25, 60, 112, 1)
#193c70

--

50% BLUE MEDIUM
rgba(50, 120, 224, 1);
#3278e0
#4786e3 90%

--

75% BLUE LIGHT
rgba(162, 185, 247, 1);
#a2b9f7

--

10% BLACK
#e5e5e5

--

80% BLACK
#333333

*/

html {
	border-color: rgba(25, 60, 112, .8); }

body {
	border-color: rgba(25, 60, 112, .9); }

header section hgroup, article, article nav li, article aside,
footer section, footer aside, .figure-group {
	border-color: rgba(0, 0, 0, .1); }
	
a:link {
	color: rgba(50, 120, 224, .9); }

a:visited {
	color: rgba(25, 60, 112, .6); }

a:hover {
	color: rgba(25, 60, 112, .9); }

a:hover, a:active {
	background-color: rgba(50, 120, 224, .1); }

figure {
	background-color: rgba(0, 0, 0, .8); }

figure p {
	color: #FFFFFF; }

figure a:visited {
	color: rgba(162, 185, 247, .6); }

figure a:hover {
	color: rgba(162, 185, 247, .9); }

figure a:hover img {
	border-color: rgba(50, 120, 224, .9); }

abbr {
	border-color: rgba(0, 0, 0, .8); }
	
h1, h2, h3, dt, header h1 a:link, header h1 a:visited {
	color: rgba(0, 0, 0, .8); }

header h1 a {
	text-decoration: none; }
	
header h1 a:hover, header h1 a:active {
	color: rgba(0, 0, 0, 1);
	background-color: transparent; }
