
html {
	border-top: 7px solid; }
	
body {
	font-size: 62.5%;
	line-height: 1.5;
	font-family: Georgia, serif;
	border-top: 1px solid; }

h1, h2, h3, h4, dt, cite {
	font-weight: normal;
	margin: 2em 0 1em;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, arial, sans-serif; }

h1 {
	font-size: 5em; }

h2 {
	font-size: 2.4em; }

h3 {
	font-size: 1.8em;
	font-weight: bold; }

p, ol, ul, dd {
	font-size: 1.6em;
	margin: 0 0 1.5em; }

p {
	text-indent: 1em; }

ol, ul {
	margin-left: 1em;
	list-style-type: decimal; }

ul {
	list-style-type: disc; }

hgroup {
	display: block; }

hgroup aside {
	margin: 0 4em 0 -320px;
	float: left;
	text-align: right;
	display: block;
	padding: 0 40px 0 0;
	width: 240px;
	border-right: 1px solid; }
	
header, article, footer section {
	display: block;
	clear: both;
	width: 640px;
	padding: 0 0 0 320px;
	margin: 0 auto; }

article, footer section {
	border-top: 1px solid; }

figure {
	clear: both;
	margin: 0 2em 3em -320px;
	float: left;
	display: block;
	padding: 5px; }

figure p {
	font-size: 1.4em;
	margin: .5em;
	text-indent: 0; }

.figure-group {
	float: left;
	display: block;
	width: 940px;
	padding: 0 1em;
	margin: 0 0 3em -320px;
	border: 1px solid;
	border-width: 1px 0; }
	
.figure-group figure {
	clear: none;
	margin: 2em 1em;
	display: inline; }
	
h4, dt {
	font-size: 1.8em;
	margin: 1em 0 0; }

dd {
	margin: 0 0 .5em; }

abbr {
	border-bottom: 1px dotted; }

blockquote {
	margin: 2em 0; }

blockquote p {
	text-indent: 0;
	font-size: 2.4em; }

blockquote cite {
	display: block;
	margin: -1.5em 0 .5em;
	font-size: 1.6em;
	font-style: normal; }


/*********
 * HEADER
 *********/
	
header hgroup {
	padding: 5em 0 0 0; }

header h1 {
	font-family: Georgia, serif;
	float: left;
	text-transform: lowercase;
	margin: 0 0 0 -160px;
	font-size: 6em; }

header hgroup section {
	float: left;
	padding-left: 2em;
	margin: 2.5em 0 0 2em;
	border-left: 1px solid; }

header h2 {
	margin: 0;
	font-size: 1.6em; }

nav {
	display: block;
	clear: both; }
	
nav ul {
	margin-left: 0;
	list-style-type: none; }

nav li {
	padding: 1em 1em 1em 0;
	display: inline; }

nav li a {
	font-size: 1.2em; }
	

footer {
	display: block; }

footer p {
	text-indent: 0; }

footer #summary, footer #colophon {
	padding: 0;
	width: 960px; }

footer aside {
	float: left;
	display: block;
	padding: 0 40px;
	margin-bottom: 2em;
	border-left: 1px solid; }

footer aside:first-child {
	width: 240px;
	padding-left: 0;
	border-width: 0; }

footer #summary #about {
	width: 225px; }
	
footer #colophon ul {
	clear: both;
	margin: 1em 0; }

footer #colophon aside:first-child {
	text-align: right; }

footer #colophon li {
	padding: .5em 0 .5em 1em;
	display: inline; }
	
footer #colophon li:first-child {
	padding-left: 0; }


#tweet aside {
	margin-top: 2em; }
	
#tweet aside h2 {
	margin: 0 0 .35em; }

.clear {
	clear: both; }

.hide {
	display: none; }
	
img.typekit-badge {
	display: none !important; }
	