	<h2>I'm a <abbr title="User Experience">UX</abbr> designer <a href="/resume">passionate</a> <a href="/about">about</a> {{{passions}}}.<br/>Sometimes I <a href="/portfolio">do</a>, <a href="/lab">try</a> or <a href="http://twitter.com/chrisbasham">say</a> something {{adjective}}.</h2>