	<h2>I'm a <abbr title="User Experience">UX</abbr> designer <a href="/resume">pursuing</a> a masters in <a href="http://hcid.informatics.indiana.edu"><abbr title="Human-Computer Interaction Design">HCI/d</abbr></a> at <a href="http://www.iub.edu">Indiana University</a>. I'm <a href="/about">passionate about</a> {{{passions}}}.<br/>Sometimes I <a href="/portfolio">do</a>, <a href="/lab">try</a> or <a href="http://twitter.com/chrisbasham">say</a> something {{adjective}}.</h2>