{{> about_partial}}

</article>

<article>
	
{{#featuredProjects}}{{> portfolio_partial}}{{/featuredProjects}}

	<p style="text-align: right"><a href="/portfolio">All portfolio projects&#187;</a></p>

</article>

<article>

{{#featuredExperiments}}
{{#section}}{{> lab_partial}}{{/section}}
{{/featuredExperiments}}

	<p style="text-align: right; clear: both"><a href="/lab">All lab experiments&#187;</a></p>
	
	