	<script type="text/javascript">
	
		$(document).ready(function(){
			/*
			$.jTwitter('chrisbasham', 1, function(data) {
				
				var el = '#latestTweet ';
				var t = $.twitterize(data)[0];
				var user = t.user;
				
				$(el + 'aside').append(
					'<p>' +
					'<figure class="right"><a href="' + user.profile_url + '" rel="me">' + 
						'<img src="' + user.profile_image_url + '"/></a></figure>' +
					'<a href="' + user.profile_url + '" rel="me">Follow me</a><br/>on Twitter.' +
					'</p>');
					
				$(el + 'blockquote p').html(t.html);
				
				$(el + 'blockquote').append(
					'<cite>' +
					'by @<a href="' + user.profile_url + '" rel="me">' + user.screen_name + '</a> ' +
					'<a href="' + t.status_url + '">' + t.time_ago + '</a>' +
					'</cite>');
			});
			*/
		});
		
	</script>

{{> about_partial}}

</article>

<article>

{{#featured}}{{> portfolio_partial}}{{/featured}}