<article>
	
<h1>Dear Inventables recruiters,</h1>

<p>Overhearing about Inventables from fellow student designers while ordering parts for a <a href="http://reprap.org/wiki/Mendel">RepRap Mendel</a>, I glanced at the <a href="http://www.inventables.com/">homepage catalog</a> and immediately understood your mission: Supplying obscure materials to enable prototypers, inventors and DIY-ers to think out of their proverbial cardboard box and perhaps jump into one made of <a href="http://www.inventables.com/technologies/pressure-absorbing-gel">pressure absorbing gel</a> and waterproofed with a <a href="http://www.inventables.com/technologies/zipper-fastener">zipper fastener</a>. Like you, I want to help equip fellow designers to graduate low-fidelity prototypes to something functional, tangible and easily comprehensible, so the design can speak for itself.</p>

<p>After fashioning skills as a web developer and graphic designer over 10-years, I sought to supersede the browser and venture into broader application domains. Reborn as an UX designer under the tutelage of <a href="http://www.iub.edu/">Indiana University's</a> <a href="http://hcid.informatics.indiana.edu/">Human-Computer Interaction Design</a> graduate program, I've designed interactive visualizations and installations, museum exhibits and mobile apps.</p>

<p>While I relish experimenting with florist foam*, foam core, wood, bronze**, steel and Arduino, my most common and favorite material of use is Indian ink harnessed in brush pens. Always within reaching distance of minimally one pen, sketchbook and pad of sticky notes, I wield these tools to produce mind maps, paper craft on-the-go and decorate my apartment with peelable custom wallpaper.</p>

<p>* In celebration of September's Talk Like a Pirate Day, I crafted a pirate boat from florist foam. http://bash.am/lab/pirate-boat</p>
<p>** As a tribute to Ron Moore's Battlestar Galactica, I sculpted a Viper Mark II space fighter. http://bash.am/lab/bronze-viper-mark-ii</p>

<p>When not designing, sketching or prototyping, I run barefoot, play disc golf and relax with games of "The Settlers of Catan."</p>

<p>I look forward to further discussing this opportunity. Thank you for your consideration.</p>

<p>Sincerely,<br/>Chris Basham</br>UX Designer<br/>http://bash.am</p>

</article>