<article>
	
<h1>Dear Inventables recruiters,</h1>

<p>Overhearing about Inventables from fellow student designers while ordering parts for a <a href="http://reprap.org/wiki/Mendel">RepRap Mendel</a>, I glanced at the <a href="http://www.inventables.com/">homepage catalog</a> and immediately understood your mission: Supplying obscure materials to enable prototypers, inventors and DIY-ers to think out of their proverbial cardboard box and perhaps jump into a cylinder made of <a href="http://www.inventables.com/technologies/pressure-absorbing-gel">pressure absorbing gel</a> and sealed with a <a href="http://www.inventables.com/technologies/quick-burst-zipper">quick burst zipper</a>. Like you, I want to help equip fellow designers to graduate low-fidelity prototypes to something functional, tangible and easily comprehensible, so the design can speak for itself.</p>

<p>After fashioning skills as a web developer and graphic designer over 10-years, I sought to supersede the browser and venture into broader application domains. Reborn as an UX designer under the tutelage of <a href="http://www.iub.edu/">Indiana University's</a> <a href="http://hcid.informatics.indiana.edu/">Human-Computer Interaction Design</a> graduate program, I've designed <a href="/portfolio/waterwall">interactive installations</a>, <a href="/portfolio/pirate-navigator">museum exhibits</a>, <a href="/portfolio/zygomote">mobile apps</a> and <a href="/portfolio/energy-safe-kids">educational websites</a>.</p>

<p>While I relish experimenting with <a href="/lab/pirate-boat">florist foam</a><sup>1</sup>, foam core, wood, <a href="/lab/bronze-viper-mark-ii">bronze</a><sup>2</sup>, steel and Arduino, my most common and favorite material of use is Indian ink harnessed in <a href="http://www.dickblick.com/products/faber-castell-pitt-artist-pens/">brush pens</a>. Always within reaching distance of minimally one pen, sketchbook and pad of sticky notes, I wield these tools to produce mind maps, paper craft on-the-go and decorate my apartment with peelable custom wallpaper.</p>

<section class="figure-group two">
	<figure class="caption">
		<a href="/lab/pirate-boat" title="foam-pirate-boat-2 by chrisbasham, on Flickr"><img src="http://farm5.static.flickr.com/4107/4992260300_f51b31bb24.jpg" width="300" height="448" alt="foam-pirate-boat-2" /></a>
		<p><strong>1</strong> In celebration of September's Talk Like a Pirate Day, I crafted a pirate boat from florist foam.</p>
	</figure> 
	<figure class="caption">
		<a href="/lab/bronze-viper-mark-ii" title="IMG_0557 by chrisbasham, on Flickr"><img src="http://farm5.static.flickr.com/4051/4602569377_f65fca95ca.jpg" width="300" height="448" alt="IMG_0557" /></a>
		<p><strong>2</strong> As a tribute to Ron Moore's Battlestar Galactica, I sculpted a Viper Mark II space fighter.</p>
	</figure>
</section>

<p>When not designing, sketching or prototyping, I run <a href="http://www.vibramfivefingers.com/">barefoot</a>, play <a href="http://en.wikipedia.org/wiki/Disc_golf">disc golf</a>, listen to <a href="http://www.audible.com">audiobooks</a>, quote <a title="Netflix" href="http://www.netflix.com/">movies</a>, relax with games of <a href="http://en.wikipedia.org/wiki/The_Settlers_of_Catan"><cite>The Settlers of Catan</cite></a> and devour <a href="https://twitter.com/chrisbasham/status/2517388291">blueberry muffins</a>.</p>

<p>I look forward to further discussing this opportunity. Thank you for your consideration.</p>

<footer>
	<p>Sincerely,</p>
	<p>Chris Basham</p>
	<p>UX Designer</p>
	<p><a href="/">http://bash.am</a></p>
</footer>

</article>