	<section class="feature lab {{slug}}">
		<figure>
			<a href="/lab/{{slug}}"><img src="/assets/i/{{slug}}-300.jpg" alt="{{title}}"/></a>
		</figure>
		<h2><a href="/lab/{{slug}}">{{title}}</a></h2>
		<p>{{{summary}}}</p>
	</section>