{{> header_partial}}

<header>
	<section>
		<h1><a href="/">Chris <strong>Basham</strong></a></h1>
		<hgroup>
			<h2>User experience designer.</h2>
			<h2>Prototyper. Developer.</h2>
		</hgroup>
	</section>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
			<li><a href="/lab">Lab</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>

<article>

{{{yield}}}

</article>

<footer>
	<section class="contact vcard">
		<aside id="elsewhere">
			<ul>
				<li><a href="http://twitter.com/chrisbasham" rel="me" class="twitter"><span></span>Follow me on Twitter</a></li>
			</ul>
			<ul class="icons">
				<li><a href="http://www.facebook.com/chrisbasham" rel="me" class="facebook">Facebook</a></li>
				<li><a href="http://www.flickr.com/photos/chrisbasham" rel="me" class="flickr">Flickr</a></li>
				<li><a href="http://delicious.com/cbasham" rel="me" class="delicious">Delicious</a></li>
				<li><a href="http://www.linkedin.com/in/cbasham" rel="me" class="linkedin">LinkedIn</a></li>
				<li><a href="http://vimeo.com/basham" rel="me" class="vimeo">Vimeo</a></li>
			</ul>
		</aside>
		<aside>
			<ul>
				<li class="tel">812 459 9891</li>
				<li><a href="mailto:chris@bash.am" class="email">chris@bash.am</a></li>
				<li><a type="text/directory" href="http://dev.h2vx.com/vcf/bash.am">Download vCard</a></li>
			</ul>
			<ul>
				<li><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" title="Creative Commons Attribution-Noncommercial-No Derivative Works 3.0 Unported" rel="license">Copyright &copy;</a> 2007&ndash;{{year}} <a href="http://bash.am" class="url fn">Chris Basham</a><span class="title hide"><abbr title="User Experience">UX</abbr> designer and web developer</span></li>
				<li><a href="/colophon">Colophon</a></li>
			</ul>
		</aside>
		<div class="clear"></div>
	</section>
</footer>

{{> footer_partial}}