	<nav>
		<ul>
			<li>&nbsp;{{#prev}}<a href="/portfolio/{{slug}}" title="{{title}}">&#171;Previous</a>{{/prev}}</li>
			<li>{{#next}}<a href="/portfolio/{{slug}}" title="{{title}}">Next&#187;</a>{{/next}}&nbsp;</li>
		</ul>
	</nav>