	<section class="feature portfolio {{slug}}">
		<aside>
			<h2><a href="/portfolio/{{slug}}">{{title}}</a></h2>
			<p>{{{summary}}}</p>
			<p><a href="/portfolio/{{slug}}">More&#187;</a></p>
		</aside>
		<figure>
			<a href="/portfolio/{{slug}}"><span class="a"></span><span class="b"></span><span class="c"></span><span class="d"></span><span class="e"></span><span class="f"></span></a>
		</figure>
	</section>