	<h1>Resume</h1>
	
	<aside>
		<p><a href="/assets/download/basham-resume.pdf" class="button">Download Resume</a></p>

		<h3>Skills</h3>
		<dl>
			<dt>Design methods</dt>
			<dd><a href="http://en.wikipedia.org/wiki/Affinity_diagram" class="skill" rel="tag">Affinity diagramming</a></dd>
			<dd><a href="http://en.wikipedia.org/wiki/Card_sorting" class="skill" rel="tag">Card sorting</a></dd>
			<dd><a href="http://en.wikipedia.org/wiki/Ideation_(idea_generation)" class="skill" rel="tag">Ideation</a></dd>
			<dd><a href="http://www.interaction-design.org/encyclopedia/information_architecture.html" class="skill" rel="tag">Information architecture</a></dd>
			<dd><a href="http://www.interaction-design.org/encyclopedia/personas.html" class="skill" rel="tag">Personas</a> &amp; <a href="http://en.wikipedia.org/wiki/Scenario_(computing)" class="skill" rel="tag">scenarios</a></dd>
			<dd><a href="http://en.wikipedia.org/wiki/Usability_testing">Usability testing</a></dd>
			<dd></dd>
			<dt>Research methods</dt>
			<dd><a href="http://en.wikipedia.org/wiki/Contextual_inquiry" class="skill" rel="tag">Contextual inquiry</a></dd>
			<dd><a href="http://www.alistapart.com/articles/culturalprobe/" class="skill" rel="tag">Cultural probes</a></dd>
			<dd><a href="http://en.wikipedia.org/wiki/Ethnography" class="skill" rel="tag">Ethnography</a></dd>
			<dd><a href="http://en.wikipedia.org/wiki/Focus_group" class="skill" rel="tag">Focus groups</a></dd>
			<dd><a href="http://en.wikipedia.org/wiki/Interview" class="skill" rel="tag">Interviewing</a></dd>
			<dt>Prototyping</dt>
			<dd><a href="http://www.arduino.cc" class="skill" rel="tag">Arduino</a> &amp; <a href="http://www.phidgets.com" class="skill" rel="tag">Phidgets</a></dd>
			<dd>Experience, <a href="http://en.wikipedia.org/wiki/Software_prototyping" class="skill" rel="tag">Interactive</a>, <a href="http://en.wikipedia.org/wiki/Paper_prototyping" class="skill" rel="tag">Paper</a>, Rapid &amp; Video <a href="http://www.interaction-design.org/encyclopedia/prototyping.html" class="skill" rel="tag">prototyping</a></dd>
			<dd><a href="http://en.wikipedia.org/wiki/Storyboard" class="skill" rel="tag">Storyboarding</a></dd>
			<dd><a href="http://en.wikipedia.org/wiki/Website_wireframe">Wireframing</a></dd>
			<dt>Languages &amp; Frameworks</dt>
			<dd><a href="http://en.wikipedia.org/wiki/ActionScript" class="skill" rel="tag">ActionScript 3</a>, <a href="http://en.wikipedia.org/wiki/Adobe_Air" class="skill" rel="tag"><abbr title="Adobe Integrated Runtime">AIR</abbr></a>, <a href="http://en.wikipedia.org/wiki/Cairngorm_(Flex_framework)" class="skill" rel="tag">Cairngorm</a> &amp; <a href="http://en.wikipedia.org/wiki/Adobe_Flex" class="skill" rel="tag">Flex</a></dd>
			<dd><a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets" class="skill" rel="tag"><abbr title="Cascading Style Sheets">CSS</abbr></a>, <a href="http://en.wikipedia.org/wiki/Javascript" class="skill" rel="tag">JavaScript</a>, <a href="http://jquery.com" class="skill" rel="tag">jQuery</a> &amp; <a href="http://en.wikipedia.org/wiki/Xhtml" class="skill" rel="tag"><abbr title="Extensible Hypertext Markup Language">XHTML</abbr></a></dd>
			<dd><a href="http://www.mysql.com/" class="skill" rel="tag">MySQL</a> &amp; <a href="http://en.wikipedia.org/wiki/XML" class="skill" rel="tag"><abbr title="Extensible Markup Language">XML</abbr></a></dd>
			<dd><a href="http://en.wikipedia.org/wiki/Objective-C" class="skill" rel="tag">Objective-C</a> &amp; <a href="http://en.wikipedia.org/wiki/IOS" class="skill" rel="tag">iOS</a></dd>
			<dd><a href="http://www.php.net/" class="skill" rel="tag"><abbr title="PHP: Hypertext Preprocessor">PHP</abbr></a>, <a href="http://codeigniter.com" class="skill" rel="tag">CodeIgniter</a> &amp; <a href="http://wordpress.org" class="skill" rel="tag">WordPress</a></dd>
			<dd><a href="http://www.ruby-lang.org" class="skill" rel="tag">Ruby</a> &amp; <a href="http://www.sinatrarb.com" class="skill" rel="tag">Sinatra</a></dd>
			<dt>Tools</dt>
			<dd><a href="http://www.adobe.com/products/creativesuite/design/" class="skill" rel="tag">Adobe Creative Suite</a>, <a href="http://www.apple.com/iwork/" class="skill" rel="tag">iWork</a> &amp; <a href="http://www.omnigroup.com/applications/OmniGraffle/" class="skill" rel="tag">OmniGraffle</a></dd>
			<dd><a href="http://git-scm.com" class="skill" rel="tag">Git</a> &amp; <a href="http://en.wikipedia.org/wiki/Subversion_(software)" class="skill" rel="tag">Subversion</a></dd>
		</dl>
		
		<h3>Affiliations</h3>
		<dl>
			<dd class="affiliation vcard"><a href="http://www.ixda.org" class="fn org url"><abbr title="Interaction Design Association">IxDA</abbr></a></dd>
			<dd class="affiliation vcard"><a href="http://www.madskillzclub.com" class="fn org url">Mad Skillz Club</a></dd>
			<dd class="affiliation vcard"><a href="http://refreshindy.com" class="fn org url">RefreshIndy</a></dd>
		</dl>
	</aside>

	<h3>Relevant experience</h3>
	<dl class="experience vevent">
		<dt class="summary">Co-founder, <abbr title="2011-09-01" class="dtstart">Sept. 2011</abbr> &ndash; present</dt>
		<dd class="location"><a href="http://bithousedesign.com">BitHouse Design</a>, Bloomington, Ind.</dd>
		<dd class="description">Collaborated with clients to design web and mobile products. Produced an online service (<a href="http://rundwn.com">Rundwn</a>) for empowering coordinators, runners and spectators of long-distance races with real-time event results.
</dd>
	</dl>
	<dl class="experience vevent">
		<dt class="summary"><abbr title="User Experience">UX</abbr> Designer, <abbr title="2011-01-14" class="dtstart">Jan. 2011</abbr><abbr title="2011-01-16" class="dtend hide"></abbr></dt>
		<dd class="location"><a href="http://refreshindy.com/refreshweekend">Refresh Weekend</a>, <a href="http://refreshindy.com">RefreshIndy</a>, Indianapolis, Ind.</dd>
		<dd class="description">Designed and launched non-profit <a href="http://indyeast.org">Indy-east Asset Development</a> website within 48-hours, teamed with four other volunteers. Assessed client needs; analyzed and structured content; and paper prototyped wireframes.</dd>
	</dl>
	<dl class="experience vevent">
		<dt class="summary"><abbr title="User Experience">UX</abbr> Design Intern, <abbr title="2010-05-01" class="dtstart">May</abbr> &ndash; <abbr title="2010-08-01" class="dtend">Aug. 2010</abbr></dt>
		<dd class="location"><a href="http://www.lexisnexis.com">LexisNexis</a>, Dayton, Ohio</dd>
		<dd class="description">Designed and iterated low- and high-fidelity interactive visualization prototypes to assist users researching with Lexis search products.</dd>
	</dl>
	<dl class="experience vevent">
		<dt class="summary">Multimedia Developer Intern, <abbr title="2008-09-01" class="dtstart">Sept. 2008</abbr> &ndash; <abbr title="2009-05-01" class="dtend">May 2009</abbr></dt>
		<dd class="location"><a href="http://vis.iu.edu">Pervasive Technology Labs</a>, <a href="http://www.iupui.edu"><abbr title="Indiana University-Purdue University Indianapolis">IUPUI</abbr></a>, Indianapolis, Ind.</dd>
		<dd class="description">Researched and developed motion, color and symbol tracking algorithms to explore the limits of video processing and analysis in ActionScript 3.</dd>
	</dl>
	<dl class="experience vevent">
		<dt class="summary">Web Developer Intern, <abbr title="2008-01-01" class="dtstart">Jan.</abbr> &ndash; <abbr title="2008-05-01" class="dtend">May 2008</abbr></dt>
		<dd class="location"><a href="http://www.abeautifulquestion.com">A Beautiful Question</a>, Indianapolis, Ind.</dd>
		<dd class="description">Collaborated with out-of-state clients to develop WordPress themes and Adobe AIR applications.</dd>
	</dl>
	<dl class="experience vevent">
		<dt class="summary">Web Developer Volunteer, <abbr title="2007-01-01" class="dtstart">Jan. 2007</abbr> &ndash; <abbr title="2009-05-01" class="dtend">May 2009</abbr></dt>
		<dd class="location"><a href="http://www.lakeviewchurch.org">Lakeview Church</a>, Indianapolis, Ind.</dd>
		<dd class="description">Converted website <abbr title="Content Management System">CMS</abbr> to WordPress. Developed WordPress themes and Flash podcast player. Assisted with various network administration activities.</dd>
	</dl>
	
	<h3>Education</h3>
	<dl class="education vevent">
		<dt class="summary"><abbr title="Masters of Science">M.S.</abbr> <a href="http://hcid.informatics.indiana.edu/">Human-Computer Interaction Design</a>, <abbr class="dtstart hide" title="2009-08-01"></abbr><abbr class="dtend" title="2011-06-01">June 2011</abbr></dt>
		<dd class="location"><a href="http://www.iub.edu">Indiana University</a>, <a href="http://informatics.indiana.edu">School of Informatics</a>, Bloomington, Ind.</dd>
	</dl>
	<dl class="education vevent">
		<dt class="summary"><abbr title="Bachelor of Science">B.S.</abbr> <a href="http://informatics.iupui.edu/media/">Media Arts &amp; Sciences (New Media)</a>, <abbr class="dtstart hide" title="2005-08-01"></abbr><abbr class="dtend" title="2009-05-01">May 2009</abbr></dt>
		<dd class="location"><a href="http://www.iupui.edu">Indiana University (<abbr title="Indiana University-Purdue University Indianapolis">IUPUI</abbr>)</a>, <a href="http://informatics.iupui.edu">School of Informatics</a>, Indianapolis, Ind.</dd>
		<dd class="description"><abbr title="With Highest Honors">Summa Cum Laude</abbr>, General Honors, <abbr title="Grade Point Average">GPA</abbr> 3.95/4.0</dd>
	</dl>
	<dl class="education vevent">
		<dt class="summary">Minor <a href="http://www.cs.iupui.edu">Computer &amp; Information Science</a>, <abbr class="dtstart hide" title="2005-08-01"></abbr><abbr class="dtend" title="2009-05-01">May 2009</abbr></dt>
		<dd class="location"><a href="http://www.iupui.edu">Purdue University (<abbr title="Indiana University-Purdue University Indianapolis">IUPUI</abbr>)</a>, <a href="http://www.science.iupui.edu">School of Science</a>, Indianapolis, Ind.</dd>
	</dl>

	<h3>Other experience</h3>
	<dl class="experience vevent">
		<dt class="summary">Speaker, <abbr title="2011-04-01" class="dtstart">April</abbr> &ndash; <abbr title="2010-10-01" class="dtend">Oct. 2011</abbr></dt>
		<dd class="location">Total Recall: An Experiment with Daily Sketch Diaries, <a href="http://www.ignitebloomington.com">Ignite Bloomington</a></dd>
		<dd class="location"><a href="http://www.meetup.com/indyjs/events/18977211/">Desktop Prototyping: Interfacing JavaScript with Hardware</a>, <a href="http://www.meetup.com/indyjs/">IndyJS</a></dd>
		<dd class="location"><a href="http://2011.midwestux.com/program/index.html#hillBashamMichaels">MacGyver Prototyping</a>, <a href="http://www.midwestux.com/">Midwest UX</a></dd>
	</dl>
	<dl class="experience vevent">
		<dt class="summary">Assistant Instructor &amp; Mentor, <abbr title="2010-08-01" class="dtstart">Aug.</abbr> &ndash; <abbr title="2010-12-01" class="dtend">Dec. 2010</abbr></dt>
		<dd class="location">Interaction Design Practicum, <a href="http://hcid.informatics.indiana.edu/"><abbr title="Human-Computer Interaction Design">HCI/d</abbr></a>, <a href="http://www.iub.edu">Indiana University</a></dd>
	</dl>
	<dl class="experience vevent">
		<dt class="summary">Course co-designer, <abbr title="2010-08-01" class="dtstart">Aug.</abbr> &ndash; <abbr title="2010-12-01" class="dtend">Dec. 2010</abbr></dt>
		<dd class="location">Prototyping for Design, <a href="http://hcid.informatics.indiana.edu/"><abbr title="Human-Computer Interaction Design">HCI/d</abbr></a>, <a href="http://www.iub.edu">Indiana University</a></dd>
	</dl>
	<dl class="experience vevent">
		<dt class="summary">Lifeguard, <abbr title="2002-07-01" class="dtstart">July 2002</abbr> &ndash; <abbr title="2007-12-01" class="dtend">Dec. 2007</abbr></dt>
		<dd class="location"><a href="http://www.iunat.iupui.edu"><abbr title="Indiana University">IU</abbr> Natatorium</a>, Indianapolis, Ind.</dd>
		<dd class="location"><a href="http://www.vanderburghgov.org/Index.aspx?page=74">Burdette Park Aquatic Center</a>, Evansville, Ind.</dd>
	</dl>