
<% extends 'views/portfolio_page.erb' %>

<% block :brief do %>
		<dl>
			<dt>Role</dt>
			<dd>Information architecture, web development &amp; design</dd>
			<dt>Team</dt>
			<dd><a href="http://newsroom.informatics.iupui.edu/directory/rscomer" rel="friend met colleague">Skip Comer</a>, <a href="http://newsroom.informatics.iupui.edu/directory/rlaranja" rel="friend met colleague">Ricardo Laranja</a>, <a href="http://newsroom.informatics.iupui.edu/directory/jludwick" rel="friend met colleague">Brian Ludwick</a>, <a href="http://newsroom.informatics.iupui.edu/directory/matapowe" rel="friend met colleague">Matt Powers</a>, <a href="http://newsroom.informatics.iupui.edu/directory/jekstewa" rel="friend met colleague">Jennifer Stewart</a></dd>
			<dt>Timeframe</dt>
			<dd>May &ndash; November 2009</dd>
			<dt>Client</dt>
			<dd><a href="http://www.vectren.com">Vectren Corporation</a></dd>
			<dt>Visit</dt>
			<dd><a href="http://www.vectrenenergysafe.com">http://vectrenenergysafe.com</a></dd>
		</dl>
<% end %>

<% block :copy do %>

	<h3>Concept</h3>
	<p>Approached by <a href="http://www.vectren.com">Vectren Corporation</a>, I along with a team of <a href="http://www.iupui.edu"><abbr title="Indiana University-Purdue University Indianapolis">IUPUI</abbr></a> faculty and undergraduate <a href="http://informatics.iupui.edu/media/">New Media</a> students developed a comprehensive online experience to promote and educate natural gas and electricity safety to fourth-graders. In November 2009, Vectren, with the support of the <a href="http://www.nef1.org/">Natural Energy Foundation</a>, promoted this initiative called <a href="http://www.vectrenenergysafe.com">Energy Safe Kids</a> across hundreds of elementary schools in the greater Indiana-Ohio area.</p>
	<p>The project consists of three essential parts: two educational games (for both <a href="http://www.vectrenenergysafe.com/gas">natural gas</a> and <a href="http://www.vectrenenergysafe.com/electricity">electricity</a>), the <a href="http://www.vectrenenergysafe.com/">website</a> and a <a href="http://www.vectrenenergysafe.com/report-card">reporting database</a>. Professors <a href="http://newsroom.informatics.iupui.edu/directory/jludwick" rel="friend met colleague">Brian Ludwick</a>, <a href="http://newsroom.informatics.iupui.edu/directory/matapowe" rel="friend met colleague">Matt Powers</a> and <a href="http://newsroom.informatics.iupui.edu/directory/rlaranja" rel="friend met colleague">Ricardo Laranja</a> led student teams to, respec&shy;tively, tackle art direction, game development and sound design. Working with <a href="http://newsroom.informatics.iupui.edu/directory/jekstewa" rel="friend met colleague">Jennifer Stewart</a> and <a href="http://newsroom.informatics.iupui.edu/directory/rscomer" rel="friend met colleague">Skip Comer</a>, I developed and implemented the website and reporting database.</p>

	<h3>Developing the website</h3>
	<figure class="aside caption">
		<a href="/assets/i/esk-01-800.jpg"><img src="/assets/i/esk-01-280.jpg" alt="Sketch sample" /></a>
		<p><a href="http://www.vectrenenergysafe.com/gas">Natural gas game</a> page sketch.</p>
	</figure>
	<figure class="aside caption">
		<a href="/assets/i/esk-02-800.jpg"><img src="/assets/i/esk-02-280.jpg" alt="Wireframe sample" /></a>
		<p><a href="http://www.vectrenenergysafe.com/gas/call">Call before you dig</a> page wireframe.</p>
	</figure>
	<p>As an initial task, the web team designed a sitemap after organizing and analyz&shy;ing various provided educational materials and static page copy. To simplify hierarchy, all pages nest no more than one layer deep and all adult-specific information is relegated to its own <a href="http://www.vectrenenergysafe.com/teachers" title="Teachers section">section</a>. Since elementary students are the primary demographic, the site tailors to children before teachers and parents.</p>
	<p>As a way to entice young readers to purposefully absorb secondary static information (beyond the primary safety content presented in the games), every page's layout is uniquely designed to fit the content. To understand information flow in a higher fidelity, wireframes were designed for every page before commit&shy;ting to markup. Afterward, a visual aesthetic and template were adapted from the color schemes and art assets provided by the art direction team. Once integrated into a <a href="http://wordpress.org/">WordPress</a> back-end, static pages were implemented based on the wireframes and the completed games were published.</p>

	<h3>Implementing the reporting database</h3>
	<p>While informing students about the initiative in class, teachers encourage students to complete both an electricity and natural gas <a href="http://www.vectrenenergysafe.com/report-card">questionnaire</a> with their parents to self-check how well their respective households comply with safety standards. Completing this <em>report card</em> enters the student in a contest to win a desktop computer. A WordPress plugin allows Vectren to easily extract relevant information from these completed reports, highlighting potential safety concerns by state, county and school.</p>
<% end %>
