
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>Energy Safe Kids</h1>
		<aside>
			<dl>
				<dt>Role</dt>
				<dd>Information architecture, web development &amp; design</dd>
				<dt>Team</dt>
				<dd><a href="#" rel="friend met colleague">Jennifer Stewart</a>, <a href="#" rel="friend met colleague">Brian Ludwick</a>, <a href="#" rel="friend met colleague">Matt Powers</a></dd>
				<dt>Timeframe</dt>
				<dd>May - November 2009</dd>
				<dt>Client</dt>
				<dd><a href="http://www.vectren.com">Vectren Corporation</a></dd>
				<dt>Visit</dt>
				<dd><a href="http://www.vectrenenergysafe.com">http://vectrenenergysafe.com</a></dd>
			</dl>
		</aside>
		<h2><a href="http://www.vectrenenergysafe.com">Energy Safe Kids</a> is a gaming and resource hub teaching fourth graders electrical and natural gas safety.</h2>
	</hgroup>

	<section>

		<h3>What do I say?</h3>

	</section>

<% end %>
