
<% extends 'views/portfolio_page.erb' %>

<% block :brief do %>
			<dl>
				<dt>Role</dt>
				<dd>Information architecture, web development &amp; design</dd>
				<dt>Team</dt>
				<dd><a href="http://newsroom.informatics.iupui.edu/directory/jekstewa" rel="friend met colleague">Jennifer Stewart</a>, <a href="http://newsroom.informatics.iupui.edu/directory/jludwick" rel="friend met colleague">Brian Ludwick</a>, <a href="http://newsroom.informatics.iupui.edu/directory/matapowe" rel="friend met colleague">Matt Powers</a></dd>
				<dt>Timeframe</dt>
				<dd>May - November 2009</dd>
				<dt>Client</dt>
				<dd><a href="http://www.vectren.com">Vectren Corporation</a></dd>
				<dt>Visit</dt>
				<dd><a href="http://www.vectrenenergysafe.com">http://vectrenenergysafe.com</a></dd>
			</dl>
<% end %>

<% block :copy do %>
	<h3>What do I say?</h3>
<% end %>
