
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>PING Platform</h1>
		<aside>
			<dl>
				<dt>Overview</dt>
				<dd>Interactive gaming surface</dd>
				<dt>Role</dt>
				<dd>Ideation, Flex development</dd>
				<dt>Team</dt>
				<dd><a href="http://tonydewan.com" rel="friend met colleague">Tony Dewan</a></dd>
				<dt>Timeframe</dt>
				<dd>September - October 2008</dd>
				<dt>Visit</dt>
				<dd><a href="http://pingplatform.org">http://pingplatform.org</a></dd>
			</dl>
		</aside>
		<h2><a href="http://daybreak.bash.am">PING Platform</a> is a collaborative design experiment with <a href="http://www.tonydewan.com/">Tony Dewan</a> as a submission to the <a href="http://www.csszengarden.com/">CSS Zen Garden</a> project. Tony produced the graphics and aesthetic of the piece, while I coded the CSS and solved technical roadblocks.</h2>
	</hgroup>

	<section>

		<h3>Concept</h3>
		
		<p>Woots. This is coolness.</p>

	</section>

<% end %>
