
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>Ping Platform</h1>
		<aside>
			<dl>
				<dt>Role</dt>
				<dd>Ideation, Flex development</dd>
				<dt>Team</dt>
				<dd><a href="http://tonydewan.com" rel="friend met colleague">Tony Dewan</a></dd>
				<dt>Timeframe</dt>
				<dd>September - October 2008</dd>
				<dt>Visit</dt>
				<dd><a href="http://pingplatform.org">http://pingplatform.org</a></dd>
			</dl>
		</aside>
		<h2><a href="http://pingplatform.org">Ping</a> (Physically INteractive Gaming) is a hardware and software gaming platform intended to explore new forms of physical gestures along a tabletop surface.</h2>
	</hgroup>

	<section>

		<h3>Concept</h3>
		
		<p>Woots. This is coolness.</p>

	</section>

<% end %>
