
<% extends 'views/portfolio_page.erb' %>

<% block :brief do %>
			<dl>
				<dt>Role</dt>
				<dd>Ideation, Flex development</dd>
				<dt>Team</dt>
				<dd><a href="http://tonydewan.com" rel="friend met colleague">Tony Dewan</a></dd>
				<dt>Timeframe</dt>
				<dd>January - May 2009</dd>
				<dt>Visit</dt>
				<dd><a href="http://waterwall.org">http://waterwall.org</a></dd>
			</dl>
<% end %>

<% block :copy do %>
	<h3>Concept</h3>
	<p>Inspired by work from interactive artists <a href="http://www.camilleutterback.com" rel="muse">Camille Utterback</a>, <a href="http://snibbe.com" rel="muse">Scott Snibbe</a>, and <a href="http://number27.org" rel="muse">Jonathan Harris</a>, colleague <a href="http://tonydewan.com" rel="friend met colleague">Tony Dewan</a> and I designed an interactive art installa&shy;tion to inspire people to publicly behave in untraditional ways and interact with others they normally wouldn't.</p>
	<figure>
		<img src="/assets/i/waterwall-01-640.jpg" alt="A participant interacts with Waterwall" />
		<p>A participant interacts with Waterwall, pushing the buoy by creating waves. The water&shy;line is low because he is the only person in the interaction space.</p>
	</figure>
	<p>Aesthetically, Waterwall is simple. The waterline is controlled by two forms of user behavior within the 12-square-feet interactive space: movement injects waves in the water and presence increases the water's fill height. A buoy floats along this waterline, reacting in context. The buoy beckons users to play; tells jokes if bored; and complains about sea sickness if the water is violent. In essence, a cross-medium, low barrier-to-entry dialog is formed between users and the buoy, communicated through movement and textual response.</p>
	<p>Waterwall is built upon one hardware and two software layers. All input derives from a video feed mounted on the ceiling pointed toward the floor. The video proc&shy;esses real-time in an ActionScript 3 AIR application; and forwards the appropriate wave and fill events to the water visualization.</p>
	<p>On Friday, May 1, 2009, Waterwall premiered in the lobby of the <a href="http://www.iupui.edu/"><abbr title="Indiana University-Purdue University of Indianapolis">IUPUI</abbr></a> <a href="http://www.iupui.edu/building/IT.html">IT Building</a>. We noticed individuals joyfully experimenting with the interaction, with props and in groups, with dancing and in fascination. For that evening, Waterwall deconstructed social barriers and the buoy made new friends.</p>
<% end %>
