
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>Waterwall</h1>
		<aside>
			<dl>
				<dt>Role</dt>
				<dd>Ideation, Flex development</dd>
				<dt>Team</dt>
				<dd><a href="http://tonydewan.com" rel="friend met colleague">Tony Dewan</a></dd>
				<dt>Timeframe</dt>
				<dd>January - May 2009</dd>
				<dt>Visit</dt>
				<dd><a href="http://waterwall.org">http://waterwall.org</a></dd>
			</dl>
		</aside>
		<h2><a href="http://waterwall.org">Waterwall</a> is a project that explores technology's place in public spaces, particularly as a tool for fostering new kinds of interactions. It's an interactive art installation where the body's motion and presence are the main input mechanism.</h2>
	</hgroup>

	<section>

		<h3>Concept</h3>
		
		<p>Senior year of undergraduate studies, I along with a fellow student produced an interactive art installation for our capstone in May 2009, dubbed Waterwall, http://waterwall.org. I realized I didn't need to feel pigeon-holed into the job of web developer; but I could use the same skills cultivated over the last decade in other contexts, breaking out of the artificial and sometimes suffocating  barriers of the web browser.</p>
		<figure>
			<img src="/assets/i/waterwall-01.jpg" width="630" />
			<p>Testing caption.</p>
		</figure>
		<p>In retrospect, Waterwall was an early attempt in, what is now, this new field of UX to design a complex system that created a dialog between the user and the interaction. The user played in the interactive space, causing an immediate reaction in the water visualization by forming waves; and the primary visual element, personified by a floating buoy, appropriately responded to the user, prompting users to start or continue playing. For the evening of its premiere, we noticed individuals joyfully experimenting with the interaction, with props and in groups, with dancing and in fascination. We wanted to design something that made people pause and say "wow." We did. Unintentionally, Waterwall introduced me to the experience of User Experience design.</p>
		<p>Though emotional responses were a nice consequence of the art, from the foundations of the Waterwall project, it was technology-centered. In spring 2008, partner Tony and I envisioned creating a public interaction for users, yet the user experience was never our primary concern. There was no cookie-cutter solution to this problem space, and no professors at the school had personal experience producing in that arena. We were on our own to determine how to accomplish this ambitious task. We had a year to produce the project, and we wanted a fully functioning project well before presentation night. To do that, we needed to research technologies and program fast.</p>
		<p>At the urge of one professor, we dedicated the summer to conceptualizing five ideas before moving forward with executing a single concept. In August, we bought Phidget sensors and began coding our chosen concept, PING (Physically INteractive Game) Platform, http://pingplatform.org, which is a table-top gaming surface which uses hand placement around the edges as input. After two months of testing, we realized the software was robust, but the IR distance sensor input was not stable enough to produce an engaging, transparent gaming experience.</p>
		<p>In October, trying to still piggy-back on the PING concept, we painstakingly produced the hardware for a 24" by 18" multi-touch screen, desperately hoping to replace the failed IR distance sensors with another input device. After three months and $300, we completed it, but no longer had the drive or motivation to continue in that direction.</p>
		<p>By mid-January 2009, we revisited our original concept, the Waterwall. Using a video camera for input and ActionScript 3 for both video processing and the visualization, we were able to develop a fully functioning, high fidelity prototype within four months.</p>
		<p>In our technology-driven process, there was no room for user-centered design. The technology must work; then we'll worry about how the users react to it and if they even find it useful or entertaining. Though our combined intuition allowed us to produce an enjoyable experience, it was a forethought, not the forefront. For in the end, our capstone was about us and proclaiming our greatness as masters of technology. We designed for ourselves and desired the glory of out-shining all other presentations that evening. If we would have considered the user at all instead of selfishly designing for ourselves, perhaps we wouldn't have fruitlessly distracted ourselves for months debugging hardware and could have been more productive researching and studying whoever our target audience was. Possibly then, we would have produced a more powerful and engaging experience for everyone, not just two individuals.</p>

	</section>

<% end %>
