
<% extends 'views/portfolio_page.erb' %>

<% block :brief do %>
			<dl>
				<dt>Role</dt>
				<dd>Research, sketching, concept generation, paper proto-typing, usability testing</dd>
				<dt>Team</dt>
				<dd><a href="http://johnwaynehill.com" rel="friend met colleague">John Wayne Hill</a>, <a href="#" rel="friend met colleague">Fanxing Kong</a>, <a href="#" rel="friend met colleague">Ravi Jayaraman</a></dd>
				<dt>Timeframe</dt>
				<dd>November - December 2009</dd>
				<dt>Deliverables</dt>
				<dd><a href="#">CHI submission</a></dd>
			</dl>
<% end %>

<% block :copy do %>
		<h3>Problem</h3>
		
		<p>Woots. This is coolness.</p>

		<h3>Research</h3>
		
		<h3>Our solution</h3>
		
		<h3>Prototype</h3>
		
		<h3>Future strategies</h3>
<% end %>
