
<% extends 'views/portfolio_page.erb' %>

<% block :brief do %>
		<dl>
			<dt>Role</dt>
			<dd>Research, sketching, ideation, paper prototyping, usability testing</dd>
			<dt>Team</dt>
			<dd><a href="http://johnwaynehill.com" rel="friend met colleague">John Wayne Hill</a>, <a href="http://twitter.com/singkhung" rel="friend met colleague">Fanxing Kong</a>, <a href="http://twitter.com/rvkmrj" rel="friend met colleague">Ravi Jayaraman</a></dd>
			<dt>Timeframe</dt>
			<dd>November - December 2009</dd>
			<dt>Deliverables</dt>
			<dd><a href="/assets/pdf/zygomote_chi-paper.pdf">CHI 2010 paper submission</a></dd>
			<dd><a href="#"><abbr title="Human-Computer Interaction Design">HCI/d</abbr> class presentation</a></dd>
		</dl>
<% end %>

<% block :copy do %>
	<h3>Process</h3>
	<p>Tasked with "encouraging people to take a walk" for the <a href="http://www.chi2010.org/">CHI 2010</a> <a href="http://www.chi2010.org/authors/cfp-sdc.html">Student Design Competition</a>, our team initially approached the problem by operationalizing the term <em>walking</em>. To better understand the problem space according to our selected target audience of young-adult Americans, we organized a focus group; but due to a lack of participation, we instead conducted one-on-one interviews the same night.</p>
	<p>Those results, coupled with non-participatory <a href="http://en.wikipedia.org/wiki/Ethnography">ethnography</a> studies on the <a href="http://www.iub.edu/"><abbr title="Indiana University Bloomington">IUB</abbr></a> campus and secondary research, provided a wide landscape to triangulate the core problem. Guided by <a href="http://en.wikipedia.org/wiki/Affinity_diagram">affinity diagrams</a>, we focused on community influences as a primary way to encourage walking while instilling long-term behavioral change. With the assistance of two personas, several <a href="http://www.designersaccord.org/initiatives/">Lense exercises</a>, a plethora of Golden Questions, and plenty of peer opinions, dozens of concepts were generated, categorized, and subsequently narrowed to a single, final concept &mdash; Zygomote.</p>

	<h3>Concept</h3>
	<p>The name Zygomote is a composite of two Latin bases, <em>zygo</em> meaning "to join" and <em>mote</em> meaning "motion." Essentially, the iPhone app Zygomote encourages people to <em>join in motion</em> and walk together, according to three primary motivations: social bonding, social accountability, and small accomplishments. A 2D visualization illustrates the time the user spends walking with friends; the user's walking activity translates to measurable contributions to charities and causes; and the user frequently earns virtual awards for small feats. A combination of these three features will encourage individuals to walk more regularly.</p>
	<p>Scenario-based user evaluations with paper prototypes uncovered some usability problems, yet confirmed it is both easy to learn and use. One user's comment that Zygomote will "surely encourage me to walk more with friends" indicates our design could be very successful in real-world application. Further strategies suggest how to implement, refine, and sustain Zygomote.</p>
<% end %>
