
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>Zygomote</h1>
		<aside>
			<dl>
				<dt>Role</dt>
				<dd>Research, sketching, concept generation, paper proto-typing, usability testing</dd>
				<dt>Team</dt>
				<dd><a href="http://johnwaynehill.com" rel="friend met colleague">John Wayne Hill</a>, <a href="#" rel="friend met colleague">Fanxing Kong</a>, <a href="#" rel="friend met colleague">Ravi Jayaraman</a></dd>
				<dt>Timeframe</dt>
				<dd>November - December 2009</dd>
				<dt>Deliverables</dt>
				<dd><a href="#">CHI submission</a></dd>
			</dl>
		</aside>
		<h2><abbr title="Latin: 'to join in motion'">Zygomote</abbr> is an iPhone application encouraging people to walk according to three primary motivations as a first step toward long-term behavioral change and habit formation.</h2>
	</hgroup>

	<section>

		<h3>Problem</h3>
		
		<p>Woots. This is coolness.</p>

		<h3>Research</h3>
		
		<h3>Our solution</h3>
		
		<h3>Prototype</h3>
		
		<h3>Future strategies</h3>

	</section>

<% end %>
